﻿
@{
    ViewBag.Title = "Document Audit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Styles.Render("~/Layout/DocumentAudit")
@Scripts.Render("~/Layout/DocumentAuditJS")
<div class="content">
<div class="container">
    <div class="search-panadox">
        <p class="main-heading"><span>User Action Log:</span> View user activities performed on documents.</p>
        <div class="row">
            <div class="col-md-12">
                <div class="search-wrapper">
                    <div class="search-product" id="
                         -product">
                        <div class="search_main">
                            <div class="search-input">
                                <span><i class="fa fa-search" aria-hidden="true"></i></span>
                                    <input type="search" id="searchKeyword">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Search User Action Log</label>
                                <span><i class="fa fa-times" onclick="ResetSearchkeyword()" aria-hidden="true"></i></span>
                                <span onclick="queryform1()" class="dropdown-form"><i class="fa fa-sort-desc" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>
                    <div id="query1" class="query1">
                        <div class="form-container">
                            <form autocomplete="off">
                                <div class="row pt-4">
                                   
                                    <div class="col-md-6">
                                        <div class="group">
                                            <input class="date_picker" type="text" id="searchFromDate" required>
                                            <span class="highlight"></span>
                                            <span class="bar"></span>
                                            <label>From (dd/mm/yyyy)</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="group">
                                            <input class="date_picker" type="text" id="searchToDate" required>
                                            <span class="highlight"></span>
                                            <span class="bar"></span>
                                            <label>To (dd/mm/yyyy)</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="group">
                                            <input type="text" autocomplete="off" id="searchActionName" required>
                                            <span class="highlight"></span>
                                            <span class="bar"></span>
                                            <label>Action Name</label>
                                        </div>
                                       
                                    </div>
                                    <div class="col-md-6">
                                        <div class="group">
                                            <input type="text" autocomplete="off" id="searchUserName" required>
                                            <span class="highlight"></span>
                                            <span class="bar"></span>
                                            <label>User Name</label>
                                        </div>
                                    </div>
                                    </div>
                                <div class="query-btn">
                                    <a class="btn btn-warning" onclick="resetSearchParadoxClass(1)">Reset</a>
                                    <a class="btn btn-primary" onclick="GetDetails()">Search</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <table id="grdAuditSearchtable" class="panadoxTable" width="100%">
            <thead id="HeadId">
                <tr>
                    <th hidden="hidden">ID</th>
                    <th >Action Name</th>
                    <th>Module Name</th>
                    <th>Document Name</th>                 
                    <th>Action By</th>                  
                    <th>Action On</th>
                    <th hidden="hidden">Action ID</th>
                  
                </tr>
            </thead>
        </table>
    </div>
</div>
    </div>













