.search-user h3, .user h3 {
    padding-top: 10px;
    color: #2c4285;
    font-weight: bold;
    font-size: 22px;
    text-decoration: underline;
    padding: 20px 0;
}


/*.searchTable thead, .roleTable thead {
    background: #2c4285;
    color: white;
}
.searchTable thead th, .roleTable thead th {
    border-bottom: 0px solid #2c4285;
    border-right: 1px solid #fff;
}
.searchTable thead th:last-child, .roleTable thead th:last-child {
    border-right: 0px solid #fff;
}
.searchTable td, .searchTable th, .roleTable td, .roleTable th {
    border-top: 0px solid #dee2e6;
    border-right: 1px solid #2c4285;
    border-bottom: 1px solid #2c4285;
}
.searchTable, .roleTable {
    border: 2px solid #2c4285;
    margin-top: 1rem;
}
.searchTable tbody tr, .roleTable tbody tr {
    background-color: transparent !important;
}*/
.result {
  margin-bottom: 1.5rem;
  text-align: right;
}
.nav-tabs {
    border-bottom: 1px solid #2c4285;
    margin-top: 20px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #ffffff !important;
    background-color: #2c4285 !important;
    border-color: #ffffff #ffffff #fff !important;
}
.nav-tabs .nav-link {
    border: 1px solid #2c4285 !important;
    border-top-left-radius: .25rem !important;
    border-top-right-radius: .25rem !important;
    color: #2c4285 !important;
}
.form-control:focus {
    border-color: transparent !important;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0) !important;
}
#roles {
    margin: 1.5rem 0;
}

.checkbox input[type="checkbox"]{
  opacity: 1 !important;
  z-index: 1;
  width: 20px;
  height: 20px;
}
