﻿
@{
    ViewBag.Title = "DocumentClass";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Layout/DocumentClass")
@Scripts.Render("~/Layout/DocumentClassJS")
<!-- Main Content Starts -->
<!-- In this part take only content div as a outer div for the same layout of every page of this website-->
<div class="content">
    <div class="container">
        <ul class="nav nav-tabs" id="CaseTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#CreateParadoxClass" role="tab" aria-controls="caseCreate" aria-selected="true">Create Panadox Class</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#SearchParadoxClass" role="tab" aria-controls="caseCreate1" aria-selected="true">Search Panadox Class</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="CreateParadoxClass" class="page-body tab-pane active">
                <div class="panadox-name">
                    <h3>Panadox Class Name</h3>
                    <div class="form-container">
                        <form>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="group">
                                        <input id="txtParadoxClassName" type="text" required>
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <label>Enter Panadox Class Name</label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="panadox-property">
                    <h3>Panadox Properties</h3>
                    <div class="form-container">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="group">
                                        <input id="txtPropertyName" type="text" required>
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <label>Name</label>
                                    </div>
                                </div>
                                <div class="col-md-6 dataType">
                                    <div class="group">
                                        <!-- <input id="cboPropertyDataType" type="text" required>
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <span class="arrow"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                                        <label>Data Type</label>
                                        <ul class="selectDataType">
                                            <li value="Admin">System Admin</li>
                                            <li value="Sales">Sales</li>
                                            <li value="Engineering">Engineering</li>
                                            <li value="SCM">SCM</li>
                                        </ul> -->

                                        <select name="dataType" id="cboPropertyDataType" class="custom-select mb-3">
                                            <option value="" selected disabled>Select a data type</option>
                                            <option value="open">Open</option>
                                            <option value="close">Close</option>
                                            <option value="resolved">Resolved</option>
                                            <option value="pending">Pending</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <div class="group">
                                                <input id="txtSequence" type="number" required>
                                                <span class="highlight"></span>
                                                <span class="bar"></span>
                                                <label>Sequence</label>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="result">
                                                <a href="#" class="btn btn-info" id="btnAddProperties" onclick="addPropertiesToGrid()"><i class="fa fa-plus" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 required-checkbox">
                                    <div class="group">
                                        <div class="row">
                                            <div class="col-md-10">
                                                <label>Required</label>
                                            </div>
                                            <div class="col-md-2">
                                                <input id="chkIsRequired" class="form-control form-control-sm" type="checkbox" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="panadox-datatable">
                    <table class="panadoxTable" width="100%"></table>
                </div>
                <div class="panadox-security">
                    <h3>Panadox Security</h3>
                    <div class="form-container">
                        <form>
                            <div class="row">
                                <div class="col-md-6 authorDept">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <div class="group">
                                                <!-- <input id="cboAuthorDepartment" type="text" required>
                                                <span class="highlight"></span>
                                                <span class="bar"></span>
                                                <span class="arrow"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                                                <label>Select Author Department</label>
                                                <ul class="selectAuthorDept">
                                                    <li value="Admin">System Admin</li>
                                                    <li value="Sales">Sales</li>
                                                    <li value="Engineering">Engineering</li>
                                                    <li value="SCM">SCM</li>
                                                </ul> -->

                                                <select name="authorDept" id="cboAuthorDepartment" class="custom-select mb-3">
                                                    <option value="" selected disabled>Select Author Department</option>
                                                    <option value="open">Open</option>
                                                    <option value="close">Close</option>
                                                    <option value="resolved">Resolved</option>
                                                    <option value="pending">Pending</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="result">
                                                <a href="#" class="btn btn-info" onclick="AddAuthorDepartment()"><i class="fa fa-plus" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 viewerDept">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <div class="group">
                                                <!-- <input id="cboViewerDepartment" type="text" required>
                                                <span class="highlight"></span>
                                                <span class="bar"></span>
                                                <span class="arrow"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                                                <label>Select Viewer Department</label>
                                                <ul class="selectViewerDept">
                                                    <li value="Admin">System Admin</li>
                                                    <li value="Sales">Sales</li>
                                                    <li value="Engineering">Engineering</li>
                                                    <li value="SCM">SCM</li>
                                                </ul> -->

                                                <select name="viewerDept" id="cboViewerDepartment" class="custom-select mb-3">
                                                    <option value="" selected disabled>Select Viewer Department</option>
                                                    <option value="open">Open</option>
                                                    <option value="close">Close</option>
                                                    <option value="resolved">Resolved</option>
                                                    <option value="pending">Pending</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="result">
                                                <a href="#" class="btn btn-info" onclick="AddViewerDepartment()"><i class="fa fa-plus" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="security-datatable">
                    <div class="row">
                        <div class="col-md-6">
                            <table class="securityTable1" width="100%"></table>
                        </div>
                        <div class="col-md-6">
                            <table class="securityTable2" width="100%"></table>
                        </div>
                    </div>
                </div>
                <div class="result">
                    <a href="#" class="btn btn-success">Save</a>
                    <a href="#" class="btn btn-warning">Reset</a>
                </div>
            </div>
            <div id="SearchParadoxClass" class="page-body tab-pane">
                <div class="search-panadox">
                    <h3>Search Panadox</h3>
                    <!--New Work Starts-->
                    <div class="search-wrapper">
                        <div class="search-product" id="search-product">
                            <div class="search_main">
                                <div class="search-input">
                                    <span><i class="fa fa-search" aria-hidden="true"></i></span>
                                    <input type="text">
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Search Product</label>
                                    <span><i class="fa fa-times" aria-hidden="true"></i></span>
                                    <span onclick="queryform1()" class="dropdown-form"><i class="fa fa-sort-desc" aria-hidden="true"></i></span>
                                </div>
                            </div>
                        </div>
                        <div id="query1" class="query1">
                            <div class="form-container">
                                <form>
                                    <div class="row pt-4">
                                        <div class="col-md-6">
                                            <div class="group">
                                                <input type="text" required>
                                                <span class="highlight"></span>
                                                <span class="bar"></span>
                                                <label>Panadox Class Name*</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="group">
                                                <input type="date" type="text" required>
                                                <span class="highlight"></span>
                                                <span class="bar"></span>
                                                <label>From*</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="group">
                                                <input type="date" type="text" required>
                                                <span class="highlight"></span>
                                                <span class="bar"></span>
                                                <label>To*</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="query-btn">
                                        <a href="#" class="btn btn-warning">Reset</a>
                                        <a href="#" class="btn btn-primary">Search</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="searchData">
                        <table class="searchTable" width="100%"></table>
                    </div>
                    <!--New Work Ends-->
                </div>
            </div>
        </div>

    </div>
    </div>
    <!-- Main Content Ends -->
    @{
    ViewBag.Title = "DocumentClass";
    Layout = "~/Views/Shared/_Layout.cshtml";
    }

    @Styles.Render("~/Layout/DocumentClass")
    @Scripts.Render("~/Layout/DocumentClassJS")
    <div class="container">
        <ul class="nav nav-tabs" id="CaseTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#SearchParadoxClass" role="tab" aria-controls="caseCreate1" aria-selected="true">Search Panadox Class</a>

            </li>
            <li class="nav-item">
                <a class="nav-link " data-toggle="tab" href="#CreateParadoxClass" role="tab" aria-controls="caseCreate" aria-selected="true">Create Panadox Class</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="SearchParadoxClass" class="page-body tab-pane active">
                <div class="search-panadox">
                    <h3>Search Panadox</h3>
                    <div class="form-container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="group">
                                    <input id="txtSchDocClassName" type="text" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Enter Panadox Class Name</label>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="group">
                                    <input id="txtSchFromDate" type="date" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>From Date</label>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="group">
                                    <input id="txtSchToDate" type="date" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>To Date</label>
                                </div>
                            </div>

                        </div>

                        <div class="result">
                            <a class="btn btn-success" onclick="SearchParadoxClass()">Search</a>
                            <a class="btn btn-warning">Reset</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table id="docClassSearchtable" class="panadoxTable" width="100%"></table>
                    </div>
                </div>
            </div>

            <div id="CreateParadoxClass" class="page-body tab-pane ">
                <div class="panadox-name">
                    <h3>Panadox Class Name</h3>
                    <div class="form-container">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="group">
                                    <input id="txtParadoxClassName" type="text" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Enter Panadox Class Name</label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="panadox-property">
                    <h3>Panadox Properties</h3>
                    <div class="form-container">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="group">
                                    <input id="txtPropertyName" type="text" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Name</label>
                                </div>
                            </div>
                            <div class="col-md-6 dataType">
                                <div class="group">
                                    <!-- <input id="cboPropertyDataType" type="text" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <span class="arrow"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                                    <label>Data Type</label>
                                    <ul class="selectDataType">
                                        <li value="Admin">System Admin</li>
                                        <li value="Sales">Sales</li>
                                        <li value="Engineering">Engineering</li>
                                        <li value="SCM">SCM</li>
                                    </ul> -->

                                    <select name="dataType" id="cboPropertyDataType" class="custom-select">
                                        <option value="0" selected disabled>Select a data type</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="group">
                                    <input id="txtSequence" type="number" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Sequence</label>
                                </div>
                            </div>
                            <div class="col-md-6 required-checkbox">
                                <div class="group">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <label>Required</label>
                                        </div>
                                        <div class="col-md-2">
                                            <input id="chkIsRequired" class="form-control form-control-sm" type="checkbox" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="group">
                                    <input id="txtDefaultValue" type="text" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Default Value</label>
                                </div>
                            </div>
                            <div class="col-md-6">

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-10">

                            </div>
                            <div class="col-md-2">
                                <div class="result">
                                    <a class="btn btn-info" id="btnAddProperties" onclick="addPropertiesToGrid()">Add Properties</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="panadox-datatable">
                    <table class="panadoxTable" id="grdParadoxProperties" width="100%"></table>
                </div>
                <div class="panadox-security">
                    <h3>Panadox Security</h3>
                    <div class="form-container">

                        <div class="row">
                            <div class="col-md-6 authorDept">
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="group">
                                            <!-- <input id="cboAuthorDepartment" type="text" required>
                                            <span class="highlight"></span>
                                            <span class="bar"></span>
                                            <span class="arrow"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                                            <label>Select Author Department</label>
                                            <ul class="selectAuthorDept">
                                                <li value="Admin">System Admin</li>
                                                <li value="Sales">Sales</li>
                                                <li value="Engineering">Engineering</li>
                                                <li value="SCM">SCM</li>
                                            </ul> -->

                                            <select name="authorDept" id="cboAuthorDepartment" class="custom-select mb-3">
                                                <option value="0" selected disabled>Select Author Department</option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="result">
                                            <a class="btn btn-info" onclick="AddAuthorDepartment()"><i class="fa fa-plus" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 viewerDept">
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="group">
                                            <!-- <input id="cboViewerDepartment" type="text" required>
                                            <span class="highlight"></span>
                                            <span class="bar"></span>
                                            <span class="arrow"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                                            <label>Select Viewer Department</label>
                                            <ul class="selectViewerDept">
                                                <li value="Admin">System Admin</li>
                                                <li value="Sales">Sales</li>
                                                <li value="Engineering">Engineering</li>
                                                <li value="SCM">SCM</li>
                                            </ul> -->

                                            <select name="viewerDept" id="cboViewerDepartment" class="custom-select mb-3">
                                                <option value="0" selected disabled>Select Viewer Department</option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="result">
                                            <a class="btn btn-info" onclick="AddViewerDepartment()"><i class="fa fa-plus" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="security-datatable">
                    <div class="row">
                        <div class="col-md-6">
                            <table class="securityTable1" id="grdAuthorDepartments" width="100%"></table>
                        </div>
                        <div class="col-md-6">
                            <table class="securityTable2" id="grdViewerDepartments" width="100%"></table>
                        </div>
                    </div>
                </div>
                <div class="result">
                    <a href="#" class="btn btn-success" onclick="SaveParadoxClass()">Save</a>
                    <a href="#" class="btn btn-warning">Reset</a>
                </div>
            </div>

        </div>

    </div>


