﻿
@{
    ViewBag.Title = "DocumentClass";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Layout/DocumentClass")
@Scripts.Render("~/Layout/DocumentClassJS")
@Scripts.Render("~/bundles/datepickerjs")
@Styles.Render("~/Layout/datepickercss")
<div class="content">
<div class="container">
    <div class="search-panadox">
            <div class="row">
                <div class="col-md-9">
        <p class="main-heading">
                        <span>Document Type:</span> Search and view document types in the system. Click on "Create New Document Type" button for creating  new document type .
        </p>
                </div>
                <div class="col-md-3">
                    <a class="btn" onclick="newDocumentClass()" style="margin-top: 10px; float: right;">Create New Document Type</a>
                </div>
            </div>

            <div class="searchInput">
                @*<div class="col-md-11">*@
                <div class="search-wrapper">
                    <div class="search-product" id="-product">
                      
                        <div class="search_main">
                            <div class="search-input">
                                <span><i class="fa fa-search" aria-hidden="true"></i></span>
                                <input type="search" id="searchKeyword">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Search Document Type</label>
                                <span><i class="fa fa-times" onclick="ResetSearchkeyword()" aria-hidden="true"></i></span>
                                <span onclick="openSeachTab()" class="dropdown-form"><i class="fa fa-sort-desc" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>
                    <div id="query1" class="query1">
                        <div class="form-container">
                            <form>
                                <div class="row pt-4">
                                    
                                    <div class="col-md-6">
                                        <div class="group">
                                            <input class="date_picker" type="text" id="searchFromDate" required>
                                            <span class="highlight"></span>
                                            <span class="bar"></span>
                                            <label>From (dd/mm/yyyy)<span class="asterisk"></span></label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="group">
                                            <input class="date_picker" type="text" id="searchToDate" required>
                                            <span class="highlight"></span>
                                            <span class="bar"></span>
                                            <label>To (dd/mm/yyyy)<span class="asterisk"</span></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    
                                    <div class="col-md-6">
                                        <div class="group">
                                            <input type="text" autocomplete="off" id="searchPanadoxClassName" required>
                                            <span class="highlight"></span>
                                            <span class="bar"></span>
                                            <label>Document Type Name<span class="asterisk"></span></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="query-btn">
                                    <a class="btn btn-warning" onclick="resetSearchParadoxClass(1)">Reset</a>
                                    <a class="btn btn-primary" onclick="SearchParadoxClass()">Search</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                @*</div>
            <div class="col-md-1">
                <div class="result">

                </div>
                    </div>*@
            </div>

        <table id="docClassSearchtable" class="panadoxTable" width="100%">
            <thead>
               <tr>
                   <th hidden="hidden">ID</th>
                   <th>Doc ID</th>
                        <th>Document Type</th>
                   <th>Created By</th>
                   <th>Created On</th>
                   
               </tr>
            </thead>
        </table>
    </div>

    <div class="documentClass">
            <p class="main-heading"><span>Manage Document Type: </span> Enter the Document type and add fields that you want to associate with this document type. Values of <br />these fields will be entered when a new document of this type is uploaded.<span class="close1" onclick="cross()" data-toggle="tooltip" title="Close">X</span></p>
        <div class="panadox-name">
            <div class="form-container">
                </br>
                <div class="row">
                    <div class="col-md-12">
                        <div class="group">
                                <input id="txtParadoxClassName" type="text" autocomplete="off" onkeyup="Validate()" required>
                            <input id="txtParadoxClassID" hidden="hidden">
                            <span class="highlight"></span>
                            <span class="bar"></span>
                                <label>Document Type<span class="asterisk">*</span></label>
                        </div>
                    </div>
                </div>

            </div>
        </div>

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#DocumentsFields" id="DocField">Document Type Fields</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#DocsSecurity" id="DocSec">Set Document Security</a>
                </li>

            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div id="DocumentsFields" class="container tab-pane active" style="padding: 0;">
                    <div class="panadox-property" style="border: 1px solid #2c4285; padding: 10px; margin-top: 4px;">
            <p class="main-heading">
                            @*<span>Documents Fields: </span>*@Add fields to document type, which are to be captured at document upload.
            </p>
           
            <div class="form-container">
                <div class="row">
                    <div class="col-md-6">
                                    @*<h3>
                                            Documents Fields <span>
                                                <i class="fa fa-plus-square" aria-hidden="true" onclick="resetLocationControll()" data-toggle="tooltip" title="Add Location"></i>
                                                <i class="fa fa-minus-square" aria-hidden="true" onclick="LocationDelete()" data-toggle="tooltip" title="Delete Location"></i>
                                            </span>
                                        </h3>*@
                                    <div class="panadox-datatable">
                                        <table class="panadoxTable" id="grdParadoxProperties" width="100%"></table>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6">
                        <div class="group">
                                                <input id="txtPropertyName" type="text" autocomplete="off"  required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                                                <label>Name<span class="asterisk">*</span></label>
                        </div>
                    </div>
                    <div class="col-md-6 dataType">
                        <div class="group">


                            <select name="dataType" id="cboPropertyDataType" class="custom-select">
                                                    <option value="0" hidden selected disabled>Select fields data type</option>
                            </select>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="group">
                            <input id="txtSequence" type="number" required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Sequence</label>
                        </div>
                    </div>
                                        <div class="col-md-6 ">
                                            <input id="chkIsRequired" class="colored-success" name="default" type="checkbox" value="true"><span class="text" style="padding-left:10px;"></span>
                                            <label id="checkboxRequired">                                                
                                                Required
                                            </label>

                                            @*<div class="group">
                            <div class="row">
                                                        <div class="col-md-4">
                                    <label>Required</label>
                                </div>
                                <div class="col-md-2">
                                    <input id="chkIsRequired" class="form-control form-control-sm" type="checkbox" />
                                </div>
                            </div>
                                                </div>*@
                    </div>

                </div>



                <div class="row">
                    <div class="col-md-6">
                                            <div id="txtfield" class="group">
                                                <input id="txtDefaultValue" type="text" autocomplete="off" required>
                                                <span class="highlight"></span>
                                                <span class="bar"></span>
                                                <label>Default Value</label>
                                            </div>
                                            <div id="datefield" class="group">
                                                <input id="dateDefaultValue" class="date_picker" type="text" autocomplete="off" required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Default Value (dd/mm/yyyy)</label>
                        </div>
                                            <div id="Numfield" class="group">
                                                <input id="NumDefaultValue" type="number" autocomplete="off" required>
                                                <span class="highlight"></span>
                                                <span class="bar"></span>
                                                <label>Default Value</label>
                    </div>
                    </div>

                    <div class="col-md-6">

                        <div class="result">
                            @*<a class="btn btn-warning" onclick="resetProperty()">Reset</a>*@
                            <a class="btn btn-info" id="btnAddProperties" onclick="addPropertiesToGrid()">Add Field</a>

                        </div>
                    </div>
                </div>

                @*<div class="row">
                                        <div class="col-md-4">

                    </div>
                                        <div class="col-md-8">
                                            
                                        </div>


                </div>*@
                                </div>
                            </div>



            </div>
        </div>

                </div>
                <div id="DocsSecurity" class="container tab-pane fade" style="padding: 0;">
                    <div class="panadox-security" style="border: 1px solid #2c4285; padding: 10px; margin-top: 4px;">

            <p class="main-heading">
                            @*<span>Pana Docs Security: </span>*@ Select the departments for assigning security rules to the document type you have created above.
            </p>
           
            <div class="form-container">
                <div class="row">
                                <div class="col-md-6">
                                    <table class="securityTable1" id="grdAuthorDepartments" width="100%"></table>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6">
                        <div class="group">
                            <select name="authorDept" id="cboAuthorDepartment" class="custom-select mb-3">
                                <option value="0" selected disabled>Select Department</option>
                            </select>
                        </div>
                    </div>
                                        <div class="col-md-6">
                                            <div class="result" style="margin-bottom: 30px !important;">
                            <a class="btn btn-info Read-Write" onclick="AddViewerDepartment()">Read & Write</a>
                            <a class="btn btn-info Read" onclick="AddViewerDepartment1()">Read</a>
                        </div>
                                        </div>


                                    </div>




                    </div>

                </div>


                @*<div class="row">
                        <div class="col-md-6 authorDept">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="group">
                                        <select name="authorDept" id="cboAuthorDepartment" class="custom-select mb-3">
                                            <option value="0" selected disabled>Select Author Department</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="result">
                                        <a class="btn btn-info" onclick="AddAuthorDepartment()"><i class="fa fa-plus" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 viewerDept">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="group">
                                        <select name="viewerDept" id="cboViewerDepartment" class="custom-select mb-3">
                                            <option value="0" selected disabled>Select Viewer Department</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="result">
                                        <a class="btn btn-info" onclick="AddViewerDepartment()"><i class="fa fa-plus" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@

            </div>
                    </div>
                </div>

        </div>



        @*<div class="security-datatable">
                <div class="row">
                    <div class="col-md-6">
                        <table class="securityTable1" id="grdAuthorDepartments" width="100%"></table>
                    </div>
                    <div class="col-md-6">
                        <table class="securityTable2" id="grdViewerDepartments" width="100%"></table>
                    </div>
                </div>
            </div>*@
        <div class="result">
                <a class="btn btn-warning" id="resetRcrds" onclick="SaveReset(1)">Reset</a>
            <a href="#" id="savedocClass" class="btn btn-success" onclick="SaveParadoxClass()">Save</a>
                
            </div>
        </div>
    </div>
</div>


@*<ul class="nav nav-tabs" id="CaseTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#SearchParadoxClass" role="tab" aria-controls="caseCreate1" aria-selected="true">Search Panadox Class</a>

        </li>
        <li class="nav-item">
            <a class="nav-link " data-toggle="tab" href="#CreateParadoxClass" role="tab" aria-controls="caseCreate" aria-selected="true">Create Panadox Class</a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="SearchParadoxClass" class="page-body tab-pane active">
            <div class="search-panadox">
                <h3>Search Pana Docs</h3>
                <!--New Work Starts-->
                <div class="search-wrapper">
                    <div class="search-product" id="
                         -product">
                        <div class="search_main">
                            <div class="search-input">
                                <span><i class="fa fa-search" aria-hidden="true"></i></span>
                                <input type="search" id="searchKeyword" onkeyup="searchDocumentsUsingSearchBar()">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Search Documents</label>
                                <span><i class="fa fa-times" aria-hidden="true"></i></span>
                                <span onclick="queryform1()" class="dropdown-form"><i class="fa fa-sort-desc" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>
                    <div id="query1" class="query1">
                        <div class="form-container">
                            <form>
                                <div class="row pt-4">
                                    <div class="col-md-6">
                                        <div class="group">
                                            <input type="text" autocomplete="off"  id="searchPanadoxClassName" required>
                                            <span class="highlight"></span>
                                            <span class="bar"></span>
                                            <label>Panadox Class Name*</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="group">
                                            <input type="date" id="searchFromDate" required>
                                            <span class="highlight"></span>
                                            <span class="bar"></span>
                                            <label>From*</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="group">
                                            <input type="date" id="searchToDate" required>
                                            <span class="highlight"></span>
                                            <span class="bar"></span>
                                            <label>To*</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="query-btn">
                                    <a class="btn btn-warning" onclick="resetSearchParadoxClass()">Reset</a>
                                    <a class="btn btn-primary" onclick="SearchParadoxClass()">Search</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table id="docClassSearchtable" class="panadoxTable" width="100%"></table>
                    </div>
                </div>
                <!--New Work Ends-->
            </div>
        </div>


        <div id="CreateParadoxClass" class="page-body tab-pane ">
            <div class="panadox-name">
                <h3>Panadox Class Name</h3>
                <div class="form-container">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="group">
                                <input id="txtParadoxClassName" type="text" autocomplete="off"  required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Enter Panadox Class Name</label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="panadox-property">
                <h3>Panadox Properties</h3>
                <div class="form-container">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="group">
                                <input id="txtPropertyName" type="text" autocomplete="off"  required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Name</label>
                            </div>
                        </div>
                        <div class="col-md-6 dataType">
                            <div class="group">
                                <!-- <input id="cboPropertyDataType" type="text" autocomplete="off"  required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <span class="arrow"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                                <label>Data Type</label>
                                <ul class="selectDataType">
                                    <li value="Admin">System Admin</li>
                                    <li value="Sales">Sales</li>
                                    <li value="Engineering">Engineering</li>
                                    <li value="SCM">SCM</li>
                                </ul> -->

                                <select name="dataType" id="cboPropertyDataType" class="custom-select">
                                    <option value="0" selected disabled>Select a data type</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="group">
                                <input id="txtSequence" type="number" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Sequence</label>
                            </div>
                        </div>
                        <div class="col-md-6 required-checkbox">
                            <div class="group">
                                <div class="row">
                                    <div class="col-md-10">
                                        <label>Required</label>
                                    </div>
                                    <div class="col-md-2">
                                        <input id="chkIsRequired" class="form-control form-control-sm" type="checkbox" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="group">
                                <input id="txtDefaultValue" type="text" autocomplete="off"  required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Default Value</label>
                            </div>
                        </div>
                        <div class="col-md-6">

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-8">

                        </div>
                        <div class="col-md-4">
                            <div class="result">
                                <a class="btn btn-info" id="btnAddProperties" onclick="addPropertiesToGrid()">Add Properties</a>
                                <a class="btn btn-warning" onclick="">Reset</a>
                            </div>
                        </div>
                        <br />
                        <br />
                        <br />

                    </div>

                </div>
            </div>
            <div class="panadox-datatable">
                <table class="panadoxTable" id="grdParadoxProperties" width="100%"></table>
            </div>
            <hr style="height: 10px; border: 0; box-shadow: 0 10px 10px -10px #8c8b8b inset;">
            <div class="panadox-security">


                <h3>Panadox Security</h3>
                <div class="form-container">

                    <div class="row">
                        <div class="col-md-6 authorDept">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="group">
                                        <!-- <input id="cboAuthorDepartment" type="text" autocomplete="off"  required>
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <span class="arrow"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                                        <label>Select Author Department</label>
                                        <ul class="selectAuthorDept">
                                            <li value="Admin">System Admin</li>
                                            <li value="Sales">Sales</li>
                                            <li value="Engineering">Engineering</li>
                                            <li value="SCM">SCM</li>
                                        </ul> -->

                                        <select name="authorDept" id="cboAuthorDepartment" class="custom-select mb-3">
                                            <option value="0" selected disabled>Select Author Department</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="result">
                                        <a class="btn btn-info" onclick="AddAuthorDepartment()"><i class="fa fa-plus" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 viewerDept">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="group">
                                        <!-- <input id="cboViewerDepartment" type="text" autocomplete="off"  required>
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <span class="arrow"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                                        <label>Select Viewer Department</label>
                                        <ul class="selectViewerDept">
                                            <li value="Admin">System Admin</li>
                                            <li value="Sales">Sales</li>
                                            <li value="Engineering">Engineering</li>
                                            <li value="SCM">SCM</li>
                                        </ul> -->

                                        <select name="viewerDept" id="cboViewerDepartment" class="custom-select mb-3">
                                            <option value="0" selected disabled>Select Viewer Department</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="result">
                                        <a class="btn btn-info" onclick="AddViewerDepartment()"><i class="fa fa-plus" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="security-datatable">
                <div class="row">
                    <div class="col-md-6">
                        <table class="securityTable1" id="grdAuthorDepartments" width="100%"></table>
                    </div>
                    <div class="col-md-6">
                        <table class="securityTable2" id="grdViewerDepartments" width="100%"></table>
                    </div>
                </div>
            </div>
            <div class="result">
                <a href="#" class="btn btn-success" onclick="SaveParadoxClass()">Save</a>
                <a href="#" class="btn btn-warning">Reset</a>
            </div>
        </div>

    </div>*@




