﻿
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/Layout/DocumentClassJS")
<div class="content">
    <div class="container">
<div class="row">
	<div class="col-md-12">

		<div class="view-header">
			@*<div class="header-icon">
				<i class="far fa-caret-square-o-up"></i>
			</div>*@

			<h3>Add Document Type</h3>

		</div>
		<ul class="nav nav-tabs" id="CaseTab" role="tablist">
			@*<li class="nav-item">
				<a class="nav-link active" data-toggle="tab" href="#SearchParadoxClass" role="tab" aria-controls="home" aria-selected="true">Search Paradox Class</a>
			</li>*@
			<li class="nav-item">
				<a class="nav-link active" data-toggle="tab" href="#CreateParadoxClass" role="tab" aria-controls="caseCreate" aria-selected="true">Create Paradox Class</a>
			</li>            
		</ul>

		<div class="tab-content">
			<div id="SearchParadoxClass" class="page-body tab-pane">
				
			</div>

			<div id="CreateParadoxClass" class="page-body tab-pane active" style="padding-left:50px">
				<div class="row mt-3">
					<div class="col-md-8">
						<h5>Paradox Class Name *</h5>
                                <input id="txtParadoxClassName" class="form-control form-control-sm" placeholder="Enter Paradox Class Name" type="text" autocomplete="off" />
					</div>
					<div class="col-md-4">
						
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-md-8">
						<hr />
						<h5>Paradox Properties *</h5>
						<div class="row">
							<div class="col-md-3">
								<div class="row">
									<div class="col-md-4">Name *</div>
									<div class="col-md-8">
                                                <input id="txtPropertyName" class="form-control form-control-sm" placeholder="Enter Property Name" type="text" autocomplete="off" />
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="row">
									<div class="col-md-4">Data Type*</div>
									<div class="col-md-8">
                                                <select id="cboPropertyDataType" class="form-control form-control-sm" placeholder="Select a type">
											<option value="0">-Select a data type-</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-md-2">
								<div class="row">
									<div class="col-md-8 ">Required</div>
									<div class="col-md-4">
										<input id="chkIsRequired" class="form-control form-control-sm" type="checkbox" />
									</div>
								</div>
							</div>
							<div class="col-md-2">
								<div class="row">
									<div class="col-md-6">Sequence</div>
									<div class="col-md-6">
										<input id="txtSequence" class="form-control form-control-sm" type="number" />
									</div>
								</div>
							</div>
							<div class="col-md-1 mt-0">
                                        <button class="btn btn-green btn-sm mt-0" id="btnAddProperties" onclick="addPropertiesToGrid()"><i class="fa fa-plus"></i></button>
                                    </div>
						</div>
					   
					</div>
					<div class="col-md-4">

					</div>
				</div>
				<div class="row">
					<div class="col-md-8">
						
						<table class="table table-bordered table-sm searchableTable" style="width:100%" id="grdParadoxProperties">
							<thead>
								<tr role="row">
									<th hidden="hidden"></th>
									<th width="20%">Name</th>
									<th hidden="hidden">Data Type</th>
									<th>Data Type</th>
									<th>Required</th>
									<th>Sequence</th> 
									<th>Remove</th>                                    
								</tr>
							</thead>
						</table>
					</div>
					<div class="col-md-2"> </div>
				</div>
				
				<div class="row mt-2">
					<div class="col-md-8">
						<hr />
						<h5>Security</h5>
						<div class="row">
							<div class="col-md-6">
								<div class="row">
									<div class="col-md-9">
										<select id="cboAuthorDepartment" class="form-control form-control-sm">
											<option value="0">-Select Author Department-</option>
										</select>
									</div>
									<div class="col-md-3 mt-0">
										<button class="btn btn-green btn-sm mt-0" onclick="AddAuthorDepartment()"><i class="fa fa-plus"></i></button>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
									   
										<table class="table table-bordered table-sm searchableTable" style="width:100%" id="grdAuthorDepartments">
											<thead>
												<tr role="row">
													<th hidden="hidden"></th>
													<th hidden="hidden">Author Department Value</th>
													<th>Author Department Name</th>
													<th>Remove</th>
												</tr>
											</thead>
										</table>
									</div>
									</div>
							 </div>
							<div class="col-md-6">
								<div class="row">
									<div class="col-md-10">
										<select id="cboViewerDepartment" class="form-control form-control-sm">
											<option value="0">-Select Viewer Department-</option>
										</select>
									</div>
									<div class="col-md-2 mt-0">
										<button class="btn btn-green btn-sm mt-0" onclick="AddViewerDepartment()"><i class="fa fa-plus"></i></button>
									</div>
							   
								</div> 
								<div class="row">
									<div class="col-md-12">
										
										<table class="table table-bordered table-sm searchableTable" style="width:100%" id="grdViewerDepartments">
											<thead>
												<tr role="row">
													<th hidden="hidden"></th>
													<th hidden>Viewer Department Id</th>
													<th>Viewer Department Name</th>
													<th>Remove</th>
												</tr>
											</thead>
										</table>
									</div>
								</div>
							 </div>                          
						</div>
					</div>
					<div class="col-md-4">

					</div>
				</div>
			<div class="row">
				<div class="col-md-8" style="text-align:right">
					<hr />
                                <button class="btn btn-yellow"><i class="fa fa-refresh"></i> Reset</button>
					<button class="btn btn-green" onclick="SaveParadoxClass()"><i class="fa fa-save"></i> Save</button>
                                
				</div>
				<div class="col-md-4"></div>
			</div>
			</div>
		</div>
	  </div>
</div>
    </div>
    </div>
<script>			
	InitiateSearchableDataTable.init();			
</script>
