/*
 |  tail.DateTime - A pure, vanilla JavaScript DateTime Picker
 |  @file       ./css/tail.datetime-default-green.css
 |  @author     SamBrishes <sam@pytes.net>
 |  @version    0.4.1 - Beta
 |
 |  @fork       MrGuiseppe <https://github.com/MrGuiseppe/pureJSCalendar>
 |              This script started as fork and is now completely independent!
 |
 |  @website    https://github.com/pytesNET/tail.DateTime
 |  @license    X11 / MIT License
 |  @copyright  Copyright © 2018 - SamBrishes, pytesNET <pytes@gmx.net>
 */

/* @start BLUE */
.tail-datetime-calendar .calendar-actions {
	background-color: #32B93C;
}

.tail-datetime-calendar .calendar-actions span {
	text-shadow: -1px -1px 0 #227d28;
}

.tail-datetime-calendar .calendar-actions span:first-child:before,
	.tail-datetime-calendar .calendar-actions span:last-child:before {
	background-color: #27912f;
}

.tail-datetime-calendar .calendar-actions span[data-action]:hover {
	background-color: #27912f;
}

.tail-datetime-calendar .calendar-datepicker table tr td.date-today:before
	{
	background-color: #E67D1E;
}

.tail-datetime-calendar .calendar-datepicker table tr th.calendar-week.date-select span.inner,
	.tail-datetime-calendar .calendar-datepicker table tr td.calendar-day.date-select span.inner
	{
	color: #E67D1E;
	border-color: #E67D1E;
}

.tail-datetime-calendar .calendar-timepicker .timepicker-field input[type=number]:focus
	{
	border-color: #E67D1E;
}
/* @end BLUE */