/*
 |  tail.DateTime - A pure, vanilla JavaScript DateTime Picker
 |  @file       ./css/tail.datetime-harx.css
 |  @author     SamBrishes <sam@pytes.net>
 |  @version    0.4.1 - Beta
 |
 |  @fork       MrGuiseppe <https://github.com/MrGuiseppe/pureJSCalendar>
 |              This script started as fork and is now completely independent!
 |
 |  @website    https://github.com/pytesNET/tail.DateTime
 |  @license    X11 / MIT License
 |  @copyright  Copyright © 2018 - SamBrishes, pytesNET <pytes@gmx.net>
 */

/* @start MAIN CALENDAR */
.tail-datetime-calendar {
	width: 360px;
	height: auto;
	margin: 15px;
	padding: 0;
	display: block;
	overflow: hidden;
	position: absolute;
	border-collapse: separate;
	font-family: "Open Sans", Calibri, Arial, sans-serif;
	background-color: #FFFFFF;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 1px 2px 1px
		rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 1px 2px 1px
		rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 1px 2px 1px
		rgba(0, 0, 0, 0.1);
}

.tail-datetime-calendar:after {
	clear: both;
	content: "";
	display: block;
	font-size: 0;
	visibility: hidden;
}

.tail-datetime-calendar.calendar-static {
	margin-left: auto;
	margin-right: auto;
}

.tail-datetime-calendar .calendar-tooltip {
	color: #FFFFFF;
	width: auto;
	margin: 0;
	padding: 0;
	display: block;
	position: absolute;
	background-color: #202428;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.tail-datetime-calendar .calendar-tooltip .tooltip-inner {
	width: auto;
	margin: 0;
	padding: 4px 7px;
	display: block;
	font-size: 12px;
	line-height: 14px;
}

.tail-datetime-calendar .calendar-tooltip:before {
	top: -7px;
	left: 50%;
	width: 0;
	height: 0;
	margin: 0 0 0 -6px;
	content: "";
	display: block;
	position: absolute;
	border-style: solid;
	border-width: 0 7px 7px 7px;
	border-color: transparent transparent #202428 transparent;
}
/* @end MAIN CALENDAR */

/* @start CALENDAR ACTIONs */
.tail-datetime-calendar .calendar-actions {
	width: 100%;
	height: 36px;
	margin: 0;
	padding: 0;
	display: table;
	border-spacing: 0;
	border-collapse: separate;
	background-color: #FFFFFF;
}

.tail-datetime-calendar .calendar-actions span {
	color: #303438;
	margin: 0;
	padding: 0;
	opacity: 0.5;
	display: table-cell;
	position: relative;
	text-align: center;
	line-height: 40px;
	text-shadow: none;
	background-repeat: no-repeat;
	background-position: center center;
	transition: opacity 142ms linear, background 142ms linear;
	-moz-transition: opacity 142ms linear, background 142ms linear;
	-webkit-transition: opacity 142ms linear, background 142ms linear;
}

.tail-datetime-calendar .calendar-actions span[data-action] {
	cursor: pointer;
}

.tail-datetime-calendar .calendar-actions span.action {
	width: 50px;
	font-size: 22px;
}

.tail-datetime-calendar .calendar-actions span.label {
	width: auto;
	opacity: 1;
	font-size: 16px;
}

.tail-datetime-calendar .calendar-actions span:first-child {
	border-radius: 4px 0 0 0;
	-moz-border-radius: 4px 0 0 0;
	-webkit-border-radius: 4px 0 0 0;
}

.tail-datetime-calendar .calendar-actions span:last-child {
	border-radius: 0 4px 0 0;
	-moz-border-radius: 0 4px 0 0;
	-webkit-border-radius: 0 4px 0 0;
}

.tail-datetime-calendar .calendar-actions span:first-child:before,
	.tail-datetime-calendar .calendar-actions span:last-child:before {
	top: 5px;
	bottom: 5px;
	width: 1px;
	height: auto;
	margin: 0;
	padding: 0;
	content: "";
	display: inline-block;
	position: absolute;
	background-color: #e6e6e6;
}

.tail-datetime-calendar .calendar-actions span:first-child:before {
	right: -1px;
}

.tail-datetime-calendar .calendar-actions span:last-child:before {
	left: -1px;
}

.tail-datetime-calendar .calendar-actions span:first-child:hover:before,
	.tail-datetime-calendar .calendar-actions span:last-child:hover:before
	{
	display: none;
}

.tail-datetime-calendar .calendar-actions span[data-action]:hover {
	opacity: 0.95;
	background-color: #e6e6e6;
}

.tail-datetime-calendar .calendar-actions span.action-prev {
	background-image:
		url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC\
    9zdmciIHdpZHRoPSI2IiBoZWlnaHQ9IjE2IiB2aWV3Qm94PSIwIDAgNiAxNiI+PHBhdGggZD0iTTYgMkwwIDhsNiA2VjJ6I\
    i8+PC9zdmc+");
}

.tail-datetime-calendar .calendar-actions span.action-next {
	background-image:
		url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC\
    9zdmciIHdpZHRoPSI2IiBoZWlnaHQ9IjE2IiB2aWV3Qm94PSIwIDAgNiAxNiI+PHBhdGggZD0iTTAgMTRsNi02LTYtNnYxM\
    noiLz48L3N2Zz4=");
}

.tail-datetime-calendar .calendar-actions span.action-submit {
	background-image:
		url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC\
    9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDEyIDE2Ij48cGF0aCBkPSJNMTIgNWwtOCA4LTQtN\
    CAxLjUtMS41TDQgMTBsNi41LTYuNUwxMiA1eiIvPjwvc3ZnPg==");
}

.tail-datetime-calendar .calendar-actions span.action-cancel {
	background-image:
		url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC\
    9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDEyIDE2Ij48cGF0aCBkPSJNNy40OCA4bDMuNzUgM\
    y43NS0xLjQ4IDEuNDhMNiA5LjQ4bC0zLjc1IDMuNzUtMS40OC0xLjQ4TDQuNTIgOCAuNzcgNC4yNWwxLjQ4LTEuNDhMNiA2\
    LjUybDMuNzUtMy43NSAxLjQ4IDEuNDhMNy40OCA4eiIvPjwvc3ZnPg==");
}
/* @end CALENDAR ACTIONs */

/* @start CALENDAR DATEPICKER */
.tail-datetime-calendar .calendar-datepicker {
	width: 100%;
	margin: 0 0 15px 0;
	padding: 0;
	display: block;
	position: relative;
	background-color: #FFFFFF;
}

.tail-datetime-calendar .calendar-datepicker:after {
	top: -1px;
	left: 10px;
	right: 10px;
	content: "";
	position: absolute;
	border-top: 1px solid #e6e6e6;
}

.tail-datetime-calendar .calendar-datepicker table {
	width: 100%;
	margin: 0;
	padding: 0;
	border-spacing: 1px;
	border-collapse: separate;
}

.tail-datetime-calendar .calendar-datepicker table tr th,
	.tail-datetime-calendar .calendar-datepicker table tr td {
	color: #303438;
	width: 50px;
	height: 35px;
	padding: 0;
	position: relative;
	font-size: 13px;
	text-align: center;
	font-weight: normal;
	text-shadow: none;
	line-height: 30px;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.tail-datetime-calendar .calendar-datepicker table tr td {
	cursor: pointer;
}

.tail-datetime-calendar .calendar-datepicker table tr td span.inner {
	margin: 0;
	padding: 0;
	display: inline-block;
	border: 0;
}

.tail-datetime-calendar .calendar-datepicker table tr td span.inner:before,
	.tail-datetime-calendar .calendar-datepicker table tr td span.inner:after
	{
	display: none;
}

.tail-datetime-calendar .calendar-datepicker table tr td.date-previous,
	.tail-datetime-calendar .calendar-datepicker table tr td.date-next {
	color: #929aa2;
	background-color: transparent;
}

.tail-datetime-calendar .calendar-datepicker table tr td.date-today:before,
	.tail-datetime-calendar .calendar-datepicker table tr td .tooltip-tick
	{
	top: 5px;
	width: 5px;
	height: 5px;
	margin: 0;
	padding: 0;
	z-index: 20;
	content: "";
	display: inline-block;
	position: absolute;
	border: 0;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}

.tail-datetime-calendar .calendar-datepicker table tr td.date-today:before
	{
	left: 5px;
	background-color: #32B93C;
}

.tail-datetime-calendar .calendar-datepicker table tr td .tooltip-tick {
	right: 5px;
	background-color: #202428;
}

.tail-datetime-calendar .calendar-datepicker table tr td.date-select.date-today:before,
	.tail-datetime-calendar .calendar-datepicker table tr td.date-select .tooltip-tick
	{
	background-color: #FFFFFF !important;
}

.tail-datetime-calendar .calendar-datepicker table tr td .tooltip-tick:before,
	.tail-datetime-calendar .calendar-datepicker table tr td .tooltip-tick:after
	{
	display: none;
}

.tail-datetime-calendar .calendar-datepicker table tr td.date-disabled {
	cursor: not-allowed;
	color: #858d96;
}

.tail-datetime-calendar .calendar-datepicker table tr td.date-disabled:after
	{
	color: #535a61;
	top: 0;
	left: 0;
	width: 49px;
	height: 35px;
	margin: 0;
	padding: 0;
	content: "✕";
	opacity: 0.25;
	display: inline-block;
	position: absolute;
	font-size: 30px;
	line-height: 35px;
}

.tail-datetime-calendar .calendar-datepicker table tr td.calendar-day,
	.tail-datetime-calendar .calendar-datepicker table tr td.calendar-month,
	.tail-datetime-calendar .calendar-datepicker table tr td.calendar-year,
	.tail-datetime-calendar .calendar-datepicker table tr td.calendar-decade
	{
	width: 14.28571428571429%;
	height: 35px;
}

.tail-datetime-calendar .calendar-datepicker table tr td.calendar-day:hover,
	.tail-datetime-calendar .calendar-datepicker table tr td.calendar-month:hover,
	.tail-datetime-calendar .calendar-datepicker table tr td.calendar-year:hover,
	.tail-datetime-calendar .calendar-datepicker table tr td.calendar-decade:hover
	{
	border-color: #a6a6a6;
}

.tail-datetime-calendar .calendar-datepicker table tr td.calendar-day.date-disabled:hover,
	.tail-datetime-calendar .calendar-datepicker table tr td.calendar-month.date-disabled:hover,
	.tail-datetime-calendar .calendar-datepicker table tr td.calendar-year.date-disabled:hover,
	.tail-datetime-calendar .calendar-datepicker table tr td.calendar-decade.date-disabled:hover
	{
	border-color: #e6e6e6;
	background-color: #f2f2f2;
}

.tail-datetime-calendar .calendar-datepicker table tr td.calendar-day.date-today,
	.tail-datetime-calendar .calendar-datepicker table tr td.calendar-month.date-today,
	.tail-datetime-calendar .calendar-datepicker table tr td.calendar-year.date-today,
	.tail-datetime-calendar .calendar-datepicker table tr td.calendar-decade.date-today
	{
	color: #32B93C;
	border-color: #32B93C;
}

.tail-datetime-calendar .calendar-datepicker table tr td.calendar-day.date-select,
	.tail-datetime-calendar .calendar-datepicker table tr td.calendar-month.date-select,
	.tail-datetime-calendar .calendar-datepicker table tr td.calendar-year.date-select,
	.tail-datetime-calendar .calendar-datepicker table tr td.calendar-decade.date-select
	{
	border-color: #149BE6;
	background-color: #149BE6;
}

.tail-datetime-calendar .calendar-datepicker table tr td.calendar-day.date-select span,
	.tail-datetime-calendar .calendar-datepicker table tr td.calendar-month.date-select span,
	.tail-datetime-calendar .calendar-datepicker table tr td.calendar-year.date-select span,
	.tail-datetime-calendar .calendar-datepicker table tr td.calendar-decade.date-select span
	{
	color: #ffffff;
}

.tail-datetime-calendar .calendar-datepicker table tr td.calendar-year,
	.tail-datetime-calendar .calendar-datepicker table tr td.calendar-decade
	{
	width: 25%;
}

.tail-datetime-calendar .calendar-datepicker table tr td.calendar-decade span.inner
	{
	height: 54px;
	padding: 7px 15px;
	text-align: center;
	line-height: 20px;
}
/* @end CALENDAR DATEPICKER */

/* @start CALENDAR TIMEPICKER */
.tail-datetime-calendar .calendar-timepicker {
	width: 100%;
	margin: 0;
	padding: 0;
	display: block;
	position: relative;
	border-top: 0;
}

.tail-datetime-calendar .calendar-timepicker:after {
	top: -1px;
	left: 10px;
	right: 10px;
	content: "";
	position: absolute;
	border-top: 1px solid #e6e6e6;
}

.tail-datetime-calendar .calendar-timepicker .timepicker-field {
	width: 27%;
	margin: 0;
	padding: 20px 10px 10px 10px;
	display: inline-block;
	text-align: center;
}

.tail-datetime-calendar .calendar-timepicker .timepicker-field:first-child
	{
	width: 36.5%;
	padding-left: 25px;
	text-align: right;
}

.tail-datetime-calendar .calendar-timepicker .timepicker-field:last-child
	{
	width: 36.5%;
	padding-right: 25px;
	text-align: left;
}

.tail-datetime-calendar .calendar-timepicker .timepicker-field input[type=number]
	{
	color: #303438;
	width: 75px;
	height: auto;
	margin: 0;
	z-index: 4;
	padding: 3px 5px;
	display: inline-block;
	position: relative;
	font-size: 12px;
	text-align: center;
	border-width: 1px;
	border-style: solid;
	border-color: #bababa;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

.tail-datetime-calendar .calendar-timepicker .timepicker-field input[type=number],
	.tail-datetime-calendar .calendar-timepicker .timepicker-field:first-child input[type=number],
	.tail-datetime-calendar .calendar-timepicker .timepicker-field:last-child input[type=number]
	{
	background-color: #FFFFFF;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.tail-datetime-calendar .calendar-timepicker .timepicker-field input[type=number]:hover
	{
	z-index: 5;
	border-color: #a1a1a1;
}

.tail-datetime-calendar .calendar-timepicker .timepicker-field input[type=number]:focus
	{
	z-index: 6;
	border-color: #149BE6;
}

.tail-datetime-calendar .calendar-timepicker .timepicker-field label {
	color: #909498;
	margin: 0;
	padding: 0;
	display: block;
	font-size: 12px;
}
/* @end CALENDAR TIMEPICKER */

/* @start RTL STYLE */
.tail-datetime-calendar.rtl {
	direction: rtl;
}

.tail-datetime-calendar.rtl .calendar-actions span.action-next,
	.tail-datetime-calendar.rtl .calendar-actions span.action-prev {
	transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}

.tail-datetime-calendar.rtl .calendar-datepicker table tr td.date-today:before
	{
	right: 5px;
}

.tail-datetime-calendar.rtl .calendar-datepicker table tr td .tooltip-tick
	{
	left: 5px;
}

.tail-datetime-calendar.rtl .calendar-datepicker table tr td.calendar-month.date-today:before,
	.tail-datetime-calendar.rtl .calendar-datepicker table tr td.calendar-year.date-today:before,
	.tail-datetime-calendar.rtl .calendar-datepicker table tr td.calendar-decade.date-today:before
	{
	right: 50%;
	margin-right: -2.5px;
}

.tail-datetime-calendar.rtl .calendar-datepicker table tr td.calendar-month:hover span.inner:before,
	.tail-datetime-calendar.rtl .calendar-datepicker table tr td.calendar-year:hover span.inner:before,
	.tail-datetime-calendar.rtl .calendar-datepicker table tr td.calendar-decade:hover span.inner:before
	{
	right: 6px;
	border-right-color: #cccccc;
}

.tail-datetime-calendar.rtl .calendar-datepicker table tr td.calendar-month span.inner:after,
	.tail-datetime-calendar.rtl .calendar-datepicker table tr td.calendar-year span.inner:after,
	.tail-datetime-calendar.rtl .calendar-datepicker table tr td.calendar-decade span.inner:after
	{
	left: 0;
}

.tail-datetime-calendar.rtl .calendar-datepicker table tr td.calendar-month:hover span.inner:after,
	.tail-datetime-calendar.rtl .calendar-datepicker table tr td.calendar-year:hover span.inner:after,
	.tail-datetime-calendar.rtl .calendar-datepicker table tr td.calendar-decade:hover span.inner:after
	{
	left: 6px;
	border-left-color: #cccccc;
}

.tail-datetime-calendar.rtl .calendar-datepicker table tr td.calendar-decade span.inner
	{
	text-align: right;
}

.tail-datetime-calendar.rtl .calendar-timepicker .timepicker-field:first-child
	{
	text-align: left;
	padding-left: 0;
	padding-right: 25px;
}

.tail-datetime-calendar.rtl .calendar-timepicker .timepicker-field:last-child
	{
	text-align: right;
	padding-left: 25px;
	padding-right: 0;
}

.tail-datetime-calendar.rtl .calendar-timepicker .timepicker-field:first-child input[type=number]
	{
	margin-left: -1px;
	margin-right: 0;
	border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	-webkit-border-radius: 0 3px 3px 0;
}

.tail-datetime-calendar.rtl .calendar-timepicker .timepicker-field:last-child input[type=number]
	{
	margin-left: 0;
	margin-right: -1px;
	border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	-webkit-border-radius: 3px 0 0 3px;
}
/* @end RTL STYLE */