.visible {
  display: block !important;
}
.query-btn {
    text-align: right;
}
.preview-screen i {
    background: #2c4285;
    color: white;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    font-size: 18px;
    min-width: 30px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 5px;
}
.main-heading span {
    color: #2c4285;
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
}
.userData h3 {
    padding-top: 10px;
    color: #2c4285;
    font-weight: bold;
    font-size: 22px;
    text-decoration: underline;
    padding: 20px 0;
}
/*.content > .container {
    margin-top: 15px;
}*/


.control-fileupload {
    display: block;
    border: 1px solid #ced4da;
    background: #FFF;
    border-radius: 0.25rem;
    width: 100%;
    line-height: 1.5rem;
    padding: 0px 10px 2px 10px;
    overflow: hidden;
    position: relative;
    color: #495057;
    background-size: 8px 10px;
    height: calc(2.25rem + 2px);
    vertical-align: middle;
    padding: .375rem 1.75rem .375rem .75rem;

}
.result {
    text-align: right;
    margin-top: 20px;
}
.control-fileupload:before,
.control-fileupload input,
.control-fileupload label {
  cursor: pointer !important;
}
.control-fileupload:before {
  /* inherit from boostrap btn styles */

  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  color: #333333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  transition: color 0.2s ease;
  /* add more custom styles*/

  content: 'Browse';
  display: block;
  position: absolute;
  z-index: 1;
  top: 2px;
  right: 2px;
  line-height: 20px;
  text-align: center;
}
.control-fileupload:hover:before,
.control-fileupload:focus:before {
  background-color: #e6e6e6;
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  transition: background-position 0.2s ease-out;
}
.control-fileupload label {
  line-height: 24px;
    color: #495057;
    font-size: 16px;
    font-weight: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    z-index: 1;
    margin-right: 90px;
    margin-bottom: 0px;
    cursor: text;
}
input[type=file] {
  display: block !important;
  right: 1px;
  top: 1px;
  height: 34px;
  opacity: 0;
  width: 100%;
  background: none;
  position: absolute;
  overflow: hidden;
  z-index: 2;
}

.preview img {
    min-height: 560px;
    max-height: 560px;
}
.preview-screen {
    position: absolute;
    left: -0.8rem;
    display: grid;
}
 #QrCodeImg {
    padding: 8px;
}
 .QRcode {
    position: fixed;
    top: 10%;
    right: 0%;
    background: #2c4285;
}


.fixedbarSize1 {
    margin-right: -66px;
}


 .ArchiveBootBoxHeight{
     height:76px;
 }

 /*.POPdivSize{
     width:100%;
     height: 100%;
}

.POPModalBodySize{
     height:620px;
}

.IFrameSize{
    width:1180px;
     height:550px;
}

.BarIframeSize
{
     width:100%;
      height:550px;
}*/


 .IFrameSize{
    width:1000px;
     height:380px;
}

.BarIframeSize
{
     width:100%;
      height:380px;
}


#myModal1 .modal-dialog {
        width: 1200px;
    max-width: 1200px;
}

#myModal1 .modal-body {
    height: auto !important;
    overflow-y: hidden !important;
}


#grdMetaDocDetails {
    background: white;
    width: 350px !important;
}
#col5 {
    z-index: 9;
}
#grdMetaDocDetails tr th:nth-child(1) {
  width: 50% !important;
}
#grdMetaDocDetails tr th:nth-child(2) {
  width: 50% !important;
}
#podDocImage {
    border-bottom: 4px solid rgb(82, 86, 89);
}#podDocImage1 {
    border-bottom: 6px solid rgb(82, 86, 89);
}
 #myModals .modal-dialog {
    width: 1000px !important;
    max-width: 1000px !important;
}

