﻿@using System
@using PanasonicDMS.Models
@model UserInfo

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    @Styles.Render("~/Layout/Css")
    @Scripts.Render("~/Layout/js")
    @Scripts.Render("~/bundles/datepickerjs")
    @Styles.Render("~/Layout/datepickercss")
    @*@Styles.Render("~/Layout/fonts")*@
   

   
    @**@
    @*<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">*@
</head>
<body>
    <!-- Header Starts-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="./DocumentSearch"><img src="img/logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 pl-3 company">
                <li class="nav-item active">
                    APL Document Management System
                </li>
            </ul>
            <div class="d-inline pl-3 user-details">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        @{
                            if (Session["userInfo"] != null)
                            {
                                var user = Session["userInfo"] as UserInfo;
                                @*@user.ModuleName*@
                                @*<a class="nav-link" href="javascript:void(0)" data-toggle="tooltip" title="Help" onclick="OpenHelp('@user.ModuleName')"><i class="fa fa-question-circle" aria-hidden="true" style="font-size: 17px;"></i></a>*@
                            }

                        }
                       
                    </li>
                    <li class="nav-item designation" >
@{
    if (Session["userInfo"] != null)
    {
        var user = Session["userInfo"] as UserInfo;
        <a class="nav-link" style="cursor: default;"><i class="fa fa-user" aria-hidden="true"></i> @user.userName<span></span></a>
    }

}
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Authenticate/LogOut"><i class="fa fa-sign-out" aria-hidden="true"></i> Log Out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Header Ends-->
    <!-- Body Starts-->
    <div class="wrapper">
        <!-- Left Sidebar Starts -->
        <nav class="sidebar" id="sidebar">
            <button class="toggle-sidebar" id="toggle-sidebar">
                <i class="fa fa-bars" aria-hidden="true"></i>
                <i class="fa fa-angle-left" aria-hidden="true"></i>
            </button><br />
                     <ul>
                         <li id="documentSearchTag" onclick="documentSearchTag()"><a href="./DocumentSearch"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
                         <li id="documentChartTag" onclick="documentChartTag()"><a href="./DocumentChartDashboard"><i class="fa fa-bar-chart" aria-hidden="true"></i> Usage Dashboard</a></li>
                         <li id="documentClassTag" onclick="documentClassTag()"><a href="./Documentclass"><i class="fa fa-search" aria-hidden="true"></i> Document Type</a></li>
                         <li id="documentTag" onclick="documentTag()"><a href="./Document"><i class="fa fa-upload" aria-hidden="true"></i> Upload New Document</a></li>
                         @*<li id="documentTag"><a href="./Document"><i class="fa fa-upload" aria-hidden="true"></i> Upload New Document</a></li>*@
                         <li id="documentAuditTag" onclick="documentAuditTag()"><a href="./DocumentAudit"><i class="fa fa-file-text" aria-hidden="true"></i>User Action Log</a></li>
                         <li id="userMasterTag" onclick="userMasterTag()"><a href="./UserMaster"><i class="fa fa-users" aria-hidden="true"></i> Manage Users</a></li>
                     </ul>
        </nav>
        <!-- Left Sidebar Ends -->
       
                       
            @RenderBody()
            
           
        
        </div>
    <!-- Footer Starts-->
    <footer class="page-footer font-small">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="footer-copyright">
                        ©@DateTime.Now.Year Copyright::
                        <a href="http://csimplifyit.com/"> C Simplify IT Services Pvt. Ltd.</a>
                    </div>
                </div>
                <div class="col-md-4 text-right sec-footer">
                    <p>Build No: 1.04.01</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Ends-->
    
        
        @RenderSection("scripts", required: false)
</body>
</html>
