﻿@using System.Dynamic;
@{
    ViewBag.Title = "DocumentSearch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@Styles.Render("~/Layout/homeCss")
@Styles.Render("~/Layout/prettyPhotoCss")

@*<script src="~/scripts/pdf/gtag.js"></script>
    <script src="~/scripts/pdf/analytics.js"></script>
    <link href="~/content/pdf/pdf.css" rel="stylesheet" />*@


@*<script src="~/www.googletagmanager.com/gtag/js?id=UA-1394306-6"></script>
    <script src="~/pdfobject.com/js/analytics.js"></script>

    <link href="~/pdfobject.com/css/examples.css" rel="stylesheet" />
    <script src="~/pdfobject.com/js/pdfobject.min.js"></script>*@




<!-- Left Sidebar Starts -->
<!-- Left Sidebar Ends -->
<!-- Main Content Starts -->
<!-- In this part take only content div as a outer div for the same layout of every page of this website-->
<div class="content">
    <div class="container">
        <p class="main-heading">@*<span>Home:</span>*@ @*You can browse and view all the policies applicable across functions for APL. Please use the search bar to find what you are looking for. Double click the row to view the document.*@<span>Home:</span> View all policies applicable across various functions of APL. Double click on the table row to view the document.</p>

        <div class="search-wrapper">
            <div class="search-product" id="search-product">
                <div class="search_main">
                    <div class="search-input">
                        <span><i class="fa fa-search" aria-hidden="true"></i></span>
                        <input type="search" id="searchKeyword">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Search Documents</label>
                        <span onclick="ResetSearchkeyword()"><i class="fa fa-times" aria-hidden="true"></i></span>
                        <span onclick="openSeachTab()" class="dropdown-form"><i class="fa fa-sort-desc" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
            <div id="query1" class="query1">
                <div class="form-container">
                    <form>
                        <div class="row pt-4">
                            <div class="col-md-6">
                                <div class="group">
                                    <input type="text" autocomplete="off" id="txtschTitle" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Title</label>
                                </div>
                                <div class="group">
                                    <input class="date_picker" type="text" autocomplete="off" id="dtfromdate" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>From Date (dd/mm/yyyy)</label>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="group">
                                    <input type="text" autocomplete="off" id="txtschClassName" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Document Type </label>

                                </div>
                                <div class="group">
                                    <input class="date_picker" type="text" autocomplete="off" id="dttodate" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>To Date (dd/mm/yyyy)</label>
                                </div>
                            </div>
                        </div>
                        <div class="query-btn pb-4">
                            <a href="#" class="btn btn-primary" onclick="srchreset1(1)">Reset</a>
                            <a href="#" class="btn btn-primary" onclick="searchDoc()">Search</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="userData">
            <table class="table table-bordered table-sm searchableTable" style="width:100%" id="grdDocSearch">
                <thead>
                    <tr>
                        <th hidden="hidden">Doc ID</th>
                        <th width="25%">Document Title</th>
                        <th width="25%">Document Type</th>
                        <th width="15%">Created By</th>
                        <th width="15%">Created On</th>
                        <th width="10%">Version</th>
                        <th width="10%">Action</th>

                    </tr>
                </thead>
            </table>

        </div>







    </div>
</div>
<!-- Right Sidebar Starts -->
@*<nav class="sidebar1" id="sidebar1">
    <button class="toggle-sidebar1" id="toggle-sidebar1">
        <i class="fa fa-bars" aria-hidden="true"></i>
        <i class="fa fa-times" aria-hidden="true"></i>
    </button>
    @*<a href="img/preview.jpg"  data-lightbox="image-1" data-title="Preview Document" class="expandImg" data-toggle="tooltip" title="View Full Screen"><i class="fa fa-expand" aria-hidden="true"></i></a>*@
@*<a class="expandImg" id="Imgpreview" target="_blank" href="img/preview.jpg" rel="">
        <i class="fa fa-expand" aria-hidden="true"></i>
    </a>*@
@*<iframe src="img/preview.jpg" id="previevpodDocImage" frameborder="0" scrolling="no" height="450"></iframe>
    @*src="img/preview.jpg"*@
@*</nav>*@

<!-- Right Sidebar Ends -->

<div class="modal" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">
                   Preview Document
                </h4>
                <button type="button" onclick="shwtbl()" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="abc">
                    <b>Document Type:-</b>
                    <label id="documentClass"></label>, <b>Document Name:-</b>
                    <label id="documentName"></label>, <b>Document Version:-</b>
                    <label id="documentVersion"></label>, <b>Document Created By:-</b>
                    <label id="documentCreatedBy"></label>, <b>Document Created On:-</b>
                    <label id="documentCreatedOn"></label>
                </div>
               
                <div class="POPModalBodySize">

                    <div id="rw" class="row">
                        <div id="col5" class="col-md-1 fixedbarSize">
                            <button class="btn btn-info" id="tglbtn">
                                <i id="fafatimes" title="Show Table" class="fa fa-bars" aria-hidden="true"></i>
                                @*<i id="fafatimes" title="Show Table" class="fa fa-times" aria-hidden="true"></i>*@
                            </button><br />
                            <table class="table table-bordered table-sm searchableTable" style="width:100%" id="grdMetaDocDetails">
                                <thead>
                                    <tr>
                                        <th style="width:111px">Key</th>
                                        <th style="width:143px">Value</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div id="col11" class="col-md-11">
                            <div id="results" class="hidden"></div>
                            @*<div id="pdf"></div>*@
                            <iframe src="img/preview.jpg" id="podDocImage" frameborder="0"   class="IFrameSize"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="myModals" style="background-color:rgba(0,0,0,.5)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Document Details</h4>
                @*<button type="button" class="btn btn-danger" data-dismiss="modal" onclick="closeModal()">X</button>*@
                <span class="close1" onclick="closeModal()" data-toggle="tooltip" title="Close">X</span>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-5">
                        <table class="table table-bordered table-sm searchableTable" style="width:100%" id="grdMetaDocDetails"></table>
                    </div>
                    <div class="col-md-7">
                        <iframe src="img/preview.jpg" id="podDocImage" frameborder="0" scrolling="no" width="100%" height="450"></iframe>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


@Scripts.Render("~/Layout/Document")

@Scripts.Render("~/Layout/homeJS")
@Scripts.Render("~/Layout/prettyPhotoJS")

