﻿
@{
    ViewBag.Title = "Login";
    Layout = "";

}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Layout/Css")
    @Scripts.Render("~/Layout/js") 
    <link rel="stylesheet" type="text/css" href="~/Content/Login/login.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

    <title>Login</title>
</head>
<body>
@Html.Raw(TempData["msg"])
    <!-- Header Starts-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="javascript:void(0)"><img src="img/logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 pl-3 company">
                <li class="nav-item active">
                   APL Document Management System 
                </li>
            </ul>

            <div class="d-inline pl-3">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <!-- <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fa fa-user-plus" aria-hidden="true"></i> Sign Up</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fa fa-sign-in" aria-hidden="true"></i> Log In</a>
                        </li> -->
                </ul>
            </div>
        </div>
    </nav>
    <!-- Header Ends-->
    <!-- Body Starts -->
    <div class="login">
        @*<img src="img/logo.png">*@
        <h2>Welcome to<br/> "APL Document Management System"</h2>
        <div class="form-container">
            <form>
                <div class="group">
                    <input type="e-mail" id="username" placeholder="Email ID*" required>
                    <span class="highlight"></span>
                    @*<label>Email ID*</label>*@
                </div>
                <div class="group">
                    <input type="password" id="password" placeholder="Password*" required>
                    <span class="highlight"></span>
                    @*<label>Password*</label>*@
                </div>
                <a href="#" onclick="login()">Log In</a>
                <!-- <p class="message">Not registered? <a href="#">Create an account</a></p>
                     <p class="message"><a href="#">Forgot Password?</a></p>-->
            </form>
        </div>
    </div>
    <!-- Body Ends -->
    <!-- Footer Starts-->
    <footer class="page-footer font-small">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 mt-3">
                    <div class="footer-copyright">
                        © @DateTime.Now.Year Copyright:
                        <a href="http://csimplifyit.com/"> C Simplify IT Services Pvt. Ltd.</a>
                    </div>
                </div>
                <hr class="clearfix w-100 d-md-none">
                <div class="col-md-4 mt-3 text-right sec-footer">
                    <p>Build No: 1.04.01</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Ends-->

   
    <script type="text/javascript" src="~/Scripts/Login/login.js"></script>
</body>
</html>
