#query1 {
    height: 208px !important;
}

.visible {
    display: block !important;
}

.int {
    background: #2c4285 !important;
    color: white !important;
}

.query-btn {
    text-align: right;
}


.panadox-name h3, .panadox-property h3, .panadox-security h3, .search-panadox h3 {
    padding-top: 10px;
    color: #2c4285;
    font-weight: bold;
    font-size: 22px;
    text-decoration: underline;
    padding: 20px 0;
}

















/*  amit     .arrow {
    position: absolute;
    right: 10px;
    top: 6px;
    font-size: 18px;
}
.selectDataType, .selectAuthorDept, .selectViewerDept {
    background: white;
   
        position: absolute;
    width: 100%;
    z-index: 9;
}
.selectDataType li, .selectAuthorDept li, .selectViewerDept li {
    list-style: none;
    padding: 7px 0;
    cursor: pointer;
}*/
.visible {
    display: block !important;
}

.form-container .result {
    text-align: right;
    margin: 0 !important;
}

.required-checkbox label {
    color: #495057;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 30px;
    top: 7px;
    transition: 0.2s ease all;
    vertical-align: middle;
}

/*.panadoxTable thead, .securityTable1 thead, .securityTable2 thead, .searchTable thead {
    background: #2c4285;
    color: white;
}

    .panadoxTable thead th, .securityTable1 thead th, .securityTable2 thead th, .searchTable thead th {
        border-bottom: 0px solid #2c4285;
        border-right: 1px solid #fff;
    }

        .panadoxTable thead th:last-child, .securityTable1 thead th:last-child, .securityTable2 thead th:last-child, .searchTable thead th:last-child {
            border-right: 0px solid #fff;
        }

.panadoxTable td, .panadoxTable th, .securityTable1 td, .securityTable1 th, .securityTable2 td, .securityTable2 th, .searchTable th {
    border-top: 0px solid #dee2e6;
    border-right: 1px solid #2c4285;
    border-bottom: 1px solid #2c4285;
}

.panadoxTable, .securityTable1, .securityTable2, .searchTable {
    border: 2px solid #2c4285;
    margin-top: 1rem;
}

    .panadoxTable tbody tr, .securityTable1 tbody tr, .securityTable2 tbody tr, .searchTable tbody tr {
        background-color: transparent !important;
    }*/

.result {
    margin: 1.5rem 0;
    text-align: right;
}

.panadoxTable tr th:nth-child(1) {
    width: 15% !important;
}

.panadoxTable tr th:nth-child(2) {
    width: 25% !important;
}

.panadoxTable tr th:nth-child(3) {
    width: 30% !important;
}

.panadoxTable tr th:nth-child(4) {
    width: 15% !important;
}

.panadoxTable tr th:nth-child(5) {
    width: 15% !important;
}

.nav-tabs {
    border-bottom: 1px solid #2c4285;
    margin-top: 20px;
}

    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        color: #ffffff !important;
        background-color: #2c4285 !important;
        border-color: #ffffff #ffffff #fff !important;
    }

    .nav-tabs .nav-link {
        border: 1px solid #2c4285 !important;
        border-top-left-radius: .25rem !important;
        border-top-right-radius: .25rem !important;
        color: #2c4285 !important;
    }

.form-control:focus {
    border-color: transparent !important;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0) !important;
}

.searchTable td, .searchTable th {
    border-top: 0px solid #dee2e6;
    border-right: 1px solid #2c4285;
    border-bottom: 1px solid #2c4285;
}

table.dataTable.no-footer {
    border-bottom: 1px solid #2c4285;
}

.searchData {
    margin-top: 25px;
}

