
/**************css for text hide****************/
/*body{
	background-color: #e2eaec;
	   
	   
}*/

/*Common Css Starts*/
html, body{
  overflow-x: hidden;
  overscroll-behavior-x: auto;
}
body, p {
    font-size: 14px;
}
.navbar-brand img {
	width: 190px;
}
.navbar-light .navbar-nav .nav-link {
	color: #4c4c4c;
}
.designation span {
	display: block;
	font-size: 11px;
}
footer {
	background: #f1f1f1;
	
}
footer a {
	color: #212529 !important;
}
.navbar {
	background-color: #d6d6d6 !important;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
.company, .user-details {
  border-left: 1px solid #4c4c4c;
}
.wrapper {
  display: flex;
}
/*.main-heading span {
    font-size: 20px !important;
}*/
.wrapper .sidebar, .wrapper .sidebar1 {
  flex: 1 0 225px;
  min-height: 100vh;
  background-color: #2c4285;
  transition: margin-left 0.3s;
  position: relative;
      margin-top: 56px;
}
.wrapper .sidebar1{
  transition: margin-right 0.3s;
}
.wrapper .sidebar h1, .wrapper .sidebar1 h1 {
  color: white;
  padding: 10px 15px;
  font-size: 18px;
  text-decoration: underline;
}
.company li:first-child {
	font-size: 18px;
	font-weight: bold;
}
.fa-tachometer {
	padding-right: 6px;
}
.wrapper .sidebar ul {
  padding: 0;
  list-style: none;
}
.wrapper .sidebar a, .wrapper .sidebar1 a  {
  display: flex;
  padding: 10px;
  color: white;
  text-decoration: none;
  font-size: 15px;
}
.wrapper .sidebar a:hover {
  background: rgba(255, 255, 255, 0.4);
}
.wrapper .sidebar a:hover, .wrapper .sidebar a:hover {
  background: rgba(255, 255, 255, 0.4);
}
.wrapper .sidebar a.active, .wrapper .sidebar a.active:hover {
  background: rgba(255, 255, 255, 0.4);
}
.sidebar ul li .fa {
	padding-right: 6px;
	padding-top: 4px;
}
.wrapper .content {
  position: relative;
  flex: 1 1 100%;
  padding: 0px;
  /*background: linear-gradient(to right, #d6d6d6 0%, #ffffff 100%);*/
  padding-bottom: 20px;
      margin-top: 56px;
}

.wrapper .content h2 {
  color: #2c4285;
	text-align: center;
	padding-top: 10px;
	font-weight: bold;
	font-size: 28px;
	text-decoration: underline;
}

.wrapper .toggle-sidebar {
  position: absolute;
  top: -7px;
  left: 86%;
  z-index: 9;
  color: white;
  padding: 0.375rem 0.75rem;
  background-color: transparent;
  border: 0;
  border-bottom-right-radius: 10px;
  outline: none;
  cursor: pointer;
  min-height: 30px;
  transition: 0.2s all ease;
}
.wrapper .toggle-sidebar1 {
  position: absolute;
  top: -9px;
  right: 89%;
  z-index: 9;
  color: white;
  padding: 0.375rem 0.75rem;
  background-color: transparent;
  border: 0;
  border-bottom-left-radius: 10px;
  outline: none;
  cursor: pointer;
  min-height: 30px;
  transition: 0.2s all ease;
}
.sidebar-close .toggle-sidebar {
  top: 0;
  left: 83%;
  background-color: #2c4285;
  min-height: 40px;
}
.sidebar-close1 .toggle-sidebar1 {
  top: 0;
  right: 83%;
  background-color: #2c4285;
  min-height: 40px;
}
.sidebar-close .toggle-sidebar {
  left: 100%;
}
.sidebar-close1 .toggle-sidebar1 {
  right: 100%;
}
.wrapper .toggle-sidebar:hover,.wrapper .toggle-sidebar1:hover {
  color: #dcdcdc;
}
.sidebar-close {
  margin-left: -230px;
}
.sidebar-close1{
  margin-right: -320px;
}
.sidebar .toggle-sidebar .fa-bars  {
  display: none;
}
.sidebar.sidebar-close .toggle-sidebar .fa-bars {
  display: block;
}
.sidebar.sidebar-close .toggle-sidebar .fa-angle-left {
  display: none;
}
.sidebar1 .toggle-sidebar1 .fa-bars  {
  display: none;
}
.sidebar1.sidebar-close1 .toggle-sidebar1 .fa-angle-left {
  display: none;
}
.sidebar1.sidebar-close1 .toggle-sidebar1 .fa-bars {
  display: block;
}
i.fa.fa-angle-left {
    font-size: 22px !important;
    font-weight: bold !important;
}
/* Search Bar Starts Here*/

.checklist .search-input {
  position: relative;
  padding: 1rem 0 0.5rem 0;
  height: 4.5rem;
  width: 9.5rem;
  margin-left: 3rem;
}
.search-product .search-input {
  position: relative;
    padding: 0;
    height: 0rem;
	width: 100%;
}

.checklist .search-input input, .search-product .search-input input {
  border: none;
  border-bottom: 1px solid #fff;
  display: block;
  font-size: 1rem;
  line-height: 1rem;
  margin: 0;
  padding: 0.5rem 0;
  width: 100%;
  text-align: left;
  background-color: transparent;
  color: #fff;
  padding-left: 12px;
}
.search-product .search-input input {
	padding: 0.6rem 0 0.6rem 2rem;
    line-height: 0.3rem;
    font-size: 14px;
	
}
.search-product .search-input input {
  border: 2px solid #2c4285;
  color: #2c4285;
	  border-radius: 4px;
}

.checklist .search-input input:focus, .search-product .search-input input:focus {
  outline: none;
}
.checklist .search-input label, .search-product .search-input label {
  position: absolute;
  left: 2rem;
  top: 1.75rem;
  width: 100%;
  color: #fff;
  font-size: 14px;
  line-height: 1rem;
  font-weight: normal;
  pointer-events: none;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.search-product .search-input label {
  color: #2c4285;
  top: 0.9rem;
}
.checklist .search-input input:focus ~ label, .search-product .search-input input:focus ~ label {
  top: 0;
  font-size: 0.75rem;
  color: #fff;
}
.search-product .search-input input:focus ~ label {
  top: 0rem;
}
.search-product .search-input input:focus ~ label {
  color: #2c4285;
}
.checklist .search-input label.not-empty {
  top: 0;
  font-size: 0.75rem;
}
.search-product .search-input label.not-empty {
  top: 0rem;
  font-size: 0.75rem;
     
}
.checklist .search-input span:nth-of-type(3), .search-product .search-input span:nth-of-type(1) {
  position: absolute;
  color: #fff;
  left: 100%;
  top: 1.625rem;
  font-size: 1rem;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.search-product .search-input span:nth-of-type(1) {
  color: #2c4285;
  left: 0.7rem;
    top: 0.7rem;
    font-size: 14px;
}
.checklist .search-input input:focus ~ span:nth-of-type(3) {
  left: -0.625rem;
  top: 1.625rem;
  color: #fff;
}
.search-product .search-input input:focus ~ span:nth-of-type(1) {
  color: #2c4285;
}
.checklist .search-input span:nth-of-type(3).not-empty {
  left: -0.625rem !important;
  top: 1.625rem !important;
}
.checklist .search-input span:nth-of-type(4), .search-product .search-input span:nth-of-type(4), .search-product .search-input span:nth-of-type(5) {
  position: absolute;
  color: #fff;
  right: 0;
  top: 1.625rem;
  font-size: 1rem;
  opacity: 0;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.search-product .search-input span:nth-of-type(5) {
	right: 0.7rem;
	opacity: 1;
	color: #2c4285;
	cursor: pointer;
    top: 0.5rem;
    font-size: 14px;
}
.search-product .search-input span:nth-of-type(4) {
  color: #2c4285;
  right: 2rem;
    top: 0.7rem;
    font-size: 14px;
}
.checklist .search-input input:focus ~ span:nth-of-type(4), .search-product .search-input input:focus ~ span:nth-of-type(4) {
  color: #fff;
  opacity: 1;
  cursor: pointer;
}
.search-product .search-input input:focus ~ span:nth-of-type(4) {
  color: #2c4285;
}
.checklist .search-input span:nth-of-type(4).not-empty, .search-product .search-input span:nth-of-type(4).not-empty {
  opacity: 1 !important;
}
.checklist .search-input .bar, .search-product .search-input .bar {
  display: block;
  width: 0;
  margin-left: 50%;
  height: 1px;
  background: #fff;
  opacity: 0;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.search-product .search-input .bar {
  background: #2c4285;
}
.checklist .search-input input:focus ~ .bar,.search-product .search-input input:focus ~ .bar {
  opacity: 0;
  width: 100%;
  margin-left: 0;
}

.search-wrapper {
	position: relative;
}
/* Search Bar Ends Here*/

/* Form Starts*/

/**/





@media (max-width: 1199px) {
	.form-container {
		position: relative;
		width: 100%;
		top: 0;
		right: 0;
		/*padding-bottom: 25%;*/    
}
}
.group {
  position: relative;
  margin-bottom: 25px;
}
.group input {
  background: white;
  font-size: 14px;
  display: block;
  width: 100%;
  border: 1px solid #ced4da;
	background-size: 8px 10px;
	/*height: calc(2.25rem + 2px);*/
	vertical-align: middle;
	padding: .375rem 1.75rem .375rem .75rem;
	border-radius: 0.25rem;
}
#query1 {
	position: absolute;
	z-index: 9;
	background: linear-gradient(to right, #848484 0%, #cecece 100%);
	width: 100%;
	top: 3rem;
	left: 0;
	padding: 0px 30px;
	/*height: 140px;*/
	border-radius: 4px;
}
#query1 .form-container .group input {
  border-bottom: 1px solid #fff;
  color: black;
}
.group input:focus {
  outline: none;
}
.group label {
	  color: #495057;
	font-size: 16px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 13px;
	top: 5px;
	transition: 0.2s ease all;
	vertical-align: middle;
}
#query1 .form-container .group label {
  color: #2c4285;
}

.group input:disabled ~ label {
  top: -20px;
  font-size: 14px;
  color: #2c4285;
}

.group input:focus ~ label, .group input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #2c4285;
}
#query1 .form-container .group input:focus ~ label, #query1 .form-container .group input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #fff;
}
.group .bar {
  position: relative;
  display: block;
  width: 50%;
  opacity: 0;
}
.group .bar:before, .group .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #2c4285;
  transition: 0.2s ease all;
}
#query1 .form-container .group .bar:before, #query1 .form-container .group .bar:after {
  background: #fff;
}
.group .bar:before {
  left: 100%;
}
.group .bar:after {
  right: 0%;
}
.group input:focus ~ .bar:before, .group input:focus ~ .bar:after {
  width: 100%;
}
.group .highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}
.group input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
}
@keyframes inputHighlighter {
  from {
	background: #5264ae;
  }
  to {
	width: 0;
	background: transparent;
  }
}

.clearfix {
  clear: both;
}
input[type="date"]:in-range::-webkit-datetime-edit-year-field, input[type="date"]:in-range::-webkit-datetime-edit-month-field, input[type="date"]:in-range::-webkit-datetime-edit-day-field, input[type="date"]:in-range::-webkit-datetime-edit-text { 
  color: transparent; 
}
/* Form Ends */

@media screen and (max-width: 991px){
  .hide-on-mob-toggle{
	width: 0px;
	padding: 0px;
	visibility: hidden;
  }
  .wrapper {
	background: linear-gradient(to right, #d6d6d6 0%, #ffffff 100%);
  }
  .wrapper .sidebar {
	flex: 1 0 300px;
  }
  .sidebar-close {
	margin-left: -300px;
  }
  .final-btn {
	  text-align: center;
  }
  .sec-footer p, .footer-copyright, .footer-copyright a {
	text-align: center !important;
  }
  .company {
	  border-left: 0px solid #4c4c4c;
  }
  .company-icon {
	border-right: 0px solid #4c4c4c;
  }
  .company, .d-inline {
	padding-left: 0 !important;
  }
}
/*Common Css Ends*/




/*.modal-lg{
	width:1000px !important;
}*/
.notification {
	position: fixed;
	top: 0;
	display: inline-block;
	font-size: 1.1em;
	padding: .5em;
 background-color:#FFFF99;
 text-align:center;
	box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.5);
  }
  .notificationRed{
  
   position: fixed;
	top: 0;
	display: inline-block;
	font-size: 1.1em;
	padding: .5em;
 background-color:#FF9999;
 text-align:center;
	box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.5);
  }
  
  .notificationYellow{
	position: fixed;
	top: 0;
	display: inline-block;
	font-size: 1.1em;
	padding: .5em;
 background-color:yellow;
 text-align:center;
	box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.5);
  }
  .notificationGreen{
	position: fixed;
	top: 0;
	display: inline-block;
	font-size: 1.1em;
	padding: .5em;
 background-color:#CCFF99;
 text-align:center;
	box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.5);
  }
  .notificationRed1{
 position: fixed;
	top: 0;
	display: inline-block;
	color:white;
	font-size: 1.1em;
	padding: .5em;
 background-color:red;
 text-align:center;
	box-shadow: 8px 8px 5px -8px rgba(0,0,0,0.9);
  }
  
  .notificationLoading{
	position: fixed;
	top: 0;
	display: inline-block;
	font-size: 1.3em;
 background-color:#ff9900 !important;
 text-align:center;
 color: white;
	box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.5);
  }
a {
	color: #0254EB
}
a:visited {
	color: #0254EB
}

a.morelink {
	text-decoration:none;
	outline: none;
}
.morecontent span {
	display: none;

}
/******************************/
#assignment{
height: 320px;
overflow-x:hidden;
 overflow-y: auto;
}
.card-img-top{
max-height: 180px;
min-height: 180px;
}
#fixheightdiv{
 height:400px;
 overflow-x:hidden; 
 overflow-y: auto;
}
/* scrollbar css */

/*::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey; 
	border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
	background: white; 
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: black; 
}*/
.card .content{
	background-color: rgba(0, 0, 0, 0);
	box-shadow: none;
	padding: 10px 20px 20px;
}
.card .content .main {
	min-height: 160px;
}
.card .back .content .main {
	height: 215px;
}
.card .name {
	font-weight: normal;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 22px;
	margin: 10px 0 0;
	text-align: center;
	text-transform: capitalize;
}
.card h5{
	margin: 5px 0;
	line-height: 20px;
	font-weight: normal;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.card .header {
	padding: 15px 20px;
	height: 90px;
	font-weight: normal;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
.card .profession{
	color: #999999;
	text-align: center;
	margin-bottom: 20px;
	border-bottom: 1px solid #EEEEEE;
	font-weight: normal;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
div.form-inline label.col-md-3 {
	justify-content: right !important; 
}
  
   #level,#profileDiv{
	background-color: #fff;
   
   }
   .border {
	border: 1px solid #fff!important;
}
 




.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	color: white!important;
	background-color: #212529!important;
}
.nav-link,nav-pills{
	cursor:pointer;
}

.card-text .more-text{
		display: none;
		}


.checkbox label {
  display: inline-block;
  position: relative;
 
}

 .checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #555;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  top: 2px;
  margin-left: -21px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #555555;
}

 .checkbox input[type="checkbox"]{
  opacity: 0;
  z-index: 1;
  width: 20px;
  height: 20px;
}


 .checkbox input[type="checkbox"]:checked + label::after{
  font-family: "FontAwesome";
  content: "\f00c";
}

 .checkbox-primary   input[type="checkbox"]:checked + label::after
{color: #fff;}
.checkbox-primary input[type="checkbox"] + label::before
{background-color: #428bca;  border-color: #428bca;}
input[type="checkbox"].styled:checked + label:after {
  font-family: 'FontAwesome';
  content: "\f00c";
}




.imageheight{
max-height: 50px;
width:100%
}
.h3{
 font-weight: normal !important;
}
.arrows{
	text-align:center;
	width:80px;
	height:80px;
	
	border:1px solid rgb(204,204,204);
	box-shadow:0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
	border-radius:100px;
	margin:0 10px 10px 0;
	padding:21px;
	padding-top: 24px;
	padding-bottom: 22px;
	background:#00acee;color:#FFF;
}
#track{
height:200px;
 overflow-x:hidden; 
 overflow-y: auto;
}
#setprofile {
	align-items: center;
	margin-top: 1%;
	
  }


#profilesetup {
	margin-left: 5%;
	margin-top: 1%;
}
#education {
	margin-left: -19%;
}


.imageDivZoom{
	overflow-x:auto;overflow-y:auto; 
}
.imageResize{
max-height:410px;
max-width:100%;
}
.imageViewerBorder {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.imageLoader{
	position:relative;
	background:none;
	top:180px;
}
.bottomright {
	position: absolute;
	bottom: 8px;
	right: 16px;
	font-size: 18px;
}
/*.table-bordered td, .table-bordered th {
	 border: 0px solid #dee2e6; 
}*/

.btn-success:focus, .btn-success:visited {
	color: #fff !important;
}
/*.btn-warning:focus, .btn-warning:visited {
	color: #212529 !important;
}*/
table.dataTable thead th, table.dataTable thead td {
	padding: 10px !important;
}
table {
	text-align: left !important;
    font-size:14px;
}
table thead th:last-child, .table thead th:last-child {
	border-right: 0px solid transparent;
}
/*.dataTable tbody .even, .table tbody .even {
	background-color: transparent !important;
}*/
.dataTable, .table {
	border: 1px solid #929292 !important;
}
.dataTable thead th, .table thead th {
	border-bottom: 2px solid #929292 !important;
	 border-top: 0px solid #929292 !important;
}
.dataTable td, .dataTable th, .table td, .table th {
	border-top: 1px solid #929292 !important;
	border-right: 1px solid #929292 !important;
}
.dataTable thead th, .dataTable thead td, .dataTable.no-footer, .table thead th, .table thead td, .table.no-footer {
	border-bottom: 1px solid #929292 !important;
}
thead {
	background: #bdbdbd;
}
table thead th:last-child, table tbody td:last-child, .table thead th:last-child, .table tbody td:last-child {
	border-right: 0px solid transparent !important;
}

#query1 .result {
	margin-top: 0px !important;
}
.close1 {
	color: #2c4285;
	text-align: right;
	padding-top: 0;
	font-weight: bold;
	font-size: 28px;
	text-decoration: none;
	float: right;
	cursor: pointer !important;
	opacity: .5;
	text-decoration: none !important;
}
.close1:hover {
	opacity: 1;
}
.btn-info, .btn-success, .btn-primary {
	color: #fff !important;
}


/*input[type=checkbox] {
	zoom: 1.8;
}*/

.expandImg {
	float: right;
	position: absolute;
	top: -6px;
	right: 0;
	z-index: 9;
	color: white;
	padding: 0.375rem 0.75rem;
	background-color: transparent;
	border: 0;
	border-bottom-left-radius: 10px;
	outline: none;
	cursor: pointer;
	min-height: 30px;
	transition: 0.2s all ease;
}

.sidebar1 img {
  position: absolute;
	top: 10%;
	width: 90%;
	left: 5%;
}
/*.content > .container {
    padding-top: 18px;
}*/

.lblClaas label
{
    top:-21px;
} 
tbody tr:hover {
    background-color: #ababab !important;
    cursor: pointer;
}
.modal-title {
    color: #2c4285 !important;
    font-size: 18px !important;
}
.modal-body {
    height: 400px;
    overflow-y: scroll;
}
.modal-body::-webkit-scrollbar-thumb, #podDocImage1::-webkit-scrollbar-thumb {
   background-color: #6d6d6d;
}
.modal-body::-webkit-scrollbar-track, #podDocImage1::-webkit-scrollbar-track {
   box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
   background-color: #eaeaea;
}
.modal-body::-webkit-scrollbar, #podDocImage1::-webkit-scrollbar {
   width: 6px;
}
.dataTable tbody .even, .table tbody .even {
    background-color: #ffffff38;
}
/*table tr td {
    font-size: 12px;
}*/
.searchInput .result {
    text-align:none;
    margin-top: 15px;
}
.searchInput .result a {
    /*padding: 12px 22px;*/
        background: #2c4285 !important;
        border-color: #2c4285 !important;
        color: white;
}
.searchInput .result a i {
        font-size: 24px;
}
.search-wrapper {
    margin-bottom: 4rem;
}
.btn {
    background: #2c4285 !important;
    border-color: #2c4285 !important;
    color: #fff !important;
}
.btn:hover, .btn-active {
    background: #2c4285 !important;
    border-color: #2c4285 !important;
    color: #fff !important;
}
.main-heading {
    font-size: 16px !important;
    /*font-weight: bold;
    color: #2c4285;
    padding-top: 10px;*/
}
/*.main-heading span {
    float: right;
    margin-top: -4px;
}*/
span.asterisk {
    position: unset !important;
    right: 0 !important;
    color: #dc3545;
    font-size: unset !important;
}

.dataTables_filter {
display: none; 
}

.element::-webkit-scrollbar {
     width: 0 !important 

}
.datepicker-days tbody tr:hover {
    background-color: transparent !important;
    cursor: none !important;
}
.datepicker-days thead {
    background: transparent !important;
}
select {
    color: #495057;
    font-size: 16px;
}

/*sidebar fix code starts here*/
footer {
    background: #f1f1f1 !important;
    z-index: 9 !important;
    position: fixed !important;
    bottom: 0 !important;
    width: 100% !important;
        padding: 10px;
}
.wrapper .content {
    position: inherit !important;
    padding: 0px !important;
    background: linear-gradient(to right, #d6d6d6 0%, #ffffff 100%) !important;
    width: 100% !important;
    flex: unset !important;
    padding-bottom: 6% !important;
        margin-left: 225px;
        min-height: 100vh !important;
}
.wrapper .sidebar, .wrapper .sidebar1 {
    flex: unset !important;
    height: calc(100% - 59px) !important;
    background-color: #2c4285 !important;
    transition: margin-left 0.3s !important;
    position: fixed !important;
    top: 0 !important;
    z-index: 1 !important;
    width: 225px !important;
}
footer p {
    margin-bottom: 0 !important;
}
/*sidebar fix code ends here*/