﻿
@{
    ViewBag.Title = "Document";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Layout/Css")
@Scripts.Render("~/Layout/js")


<div class="content">
    <div class="container">
        <div id="NewDocument">
            <div class="row">
                <div class="col-md-12">
                    <p class="main-heading"><span>Upload New Document:</span> Upload new documents. Select the document type, this will display the document properties for you to enter. Click on Confirm to upload the document in Panadox.</p>
                </div>
                @*<div class="col-md-3">
                    <button id="btnRestet" class="btn btn-warning" onclick="saveresetdoc()" style="margin-top: 10px; float: right;">Upload Document</button>
                </div>*@
            </div>
        </div>
        <div id="EditDocument">
            <div class="row">
                <div id="col9s" class="col-md-10">
                    <p class="main-heading">
                        <span>Edit Document: </span> <b>Title:</b> <label id="lbltitle"></label>, <b>Document Type:</b> <label id="lblDocumentClass"></label>,
                        <b>Current Version:</b> <label id="lblVersion"></label>, <b>Created On:</b> <label id="lblCreatedOn"></label>  <b>Created By:</b> <label id="lblCreatedBy"></label>
                    </p>
                </div>
                <div id="col3s" class="col-md-2">
                    <button id="btnUploadDocument" class="btn btn-warning" onclick="saveresetdoc(1)" style="margin-top: 4px; float: right;">Upload Document</button>
                </div>
            </div>    
        </div>
        <div class="row">

            <div class="col-md-6">

                
                <div class="userData">
                    <select name="cars" id="cboDoctype" class="custom-select mb-3">
                        <option value="0" selected disabled hidden>Select Type of Document</option>
                    </select>
                    <div id="uploadfile">
                        <span class="control-fileupload">

                            <label id="fileInput">Click here to select the file :</label>
                            <input type="file" id="txtDocumentFile" onchange="ValidateFile()" accept=".pdf,.png,.jpg,.jpeg">

                        </span>
                    </div>
                    <input type="text" autocomplete="off" hidden="hidden" id="txtDocumentID">

                    <h3 class="doc_property">Document Properties:</h3>
                    <div class="form-container">

                        <form id="formControlsContainer"></form>
                    </div>
                    <div class="row">

                        @*<div class="col-md-6">
                                <div class="group">

                              <input type="number" value="1" id="txtVersion" class="isRequired docTypeFormControls" data-formcontrols="Version" data-formcontrolid="" required>
                                    <span class="highlight"></span>
                                     <span class="bar"></span>
                                     <label>Version</label>

                                </div>

                            </div>*@

                    </div>
                    <div class="result">

                        <button id="btnViewHistory" class="btn btn-info" onclick="ViewDocHistory()">Document History</button>
                        <button id="btnArchive" class="btn btn-danger" onclick="saveArchivedoc()">Archive</button>
                        <button id="btnCheckOut" class="btn btn-primary" onclick="UploadDocumentNewVersion()">Upload New Version</button>
                        <a href="#" id="btnRestet" class="btn btn-warning" onclick="saveresetdoc(1)">Reset</a>
                        <button id="btnUpdatePodText" class="btn btn-success" onclick="updatePodText()">Save</button>



                        @*<a href="#" id="btnViewHistory" class="btn btn-primary" onclick="ViewDocHistory()">Document History</a>
                            <a href="#" id="btnArchive" class="btn btn-danger" onclick="saveArchivedoc()">Archive</a>
                            <a href="#" id="btnCheckOut" class="btn btn-secondary" onclick="DocumentCheckOut()">Upload New Version</a>

                            <a href="#" id="btnUpdatePodText" class="btn btn-success" onclick="updatePodText()">Save</a>
                            <a href="#" id="btnRestet" class="btn btn-warning" onclick="saveresetdoc()">Reset</a>*@
                    </div>


                </div>
            </div>
            <div class="col-md-6 preview">
                @*<div class="preview-screen">
                        <i class="fa fa-expand" aria-hidden="true"></i>
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </div>*@
                <a href="#"><iframe src="img/preview.jpg" id="podDocImage" onload="hidescrollbar1()" frameborder="0"  width="500" height="600"></iframe></a>
            </div>
        </div>
        <div class="QRcode">
            <img src="img/preview.jpg" id="QrCodeImg" frameborder="0" hidden="hidden"  scrolling="no" width="auto" height="100px"></img>
        </div>
    </div>


    <div class="modal" id="myModals" style="background-color:rgba(0,0,0,.5)">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Document Version History</h4>
                    @*<button type="button" class="btn btn-danger" data-dismiss="modal" onclick="closeModal()">X</button>*@
                    <button type="button" onclick="closeModal()" class="close" data-dismiss="modal">&times;</button>
                    @*<span class="close1" onclick="closeModal()" data-toggle="tooltip" title="Close">X</span>*@
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-bordered table-sm searchableTable" style="width:100%" id="grdDocViewDetails">
                                <thead>
                                    <tr>
                                        <th hidden="hidden">DocID</th>
                                        <th>Document Title</th>
                                        <th>Revision Date</th>
                                        <th>Version</th>
                                        <th>Created By</th>
                                        <th>Created On</th>
                                        <th>Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="modal" id="myModal1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">
                        Preview Document
                        @*<b>Document Class:-</b>
                        <label id="documentClass"></label>&nbsp;&nbsp;<b>Document Name:-</b>
                        <label id="documentName"></label>
                        <b>Document Version:-</b>
                        <label id="documentVersion"></label><br>
                        <b>Document Created By:-</b>
                        <label id="documentCreatedBy"></label>&nbsp;&nbsp;&nbsp;
                        <b>Document Created On:-</b>
                        <label id="documentCreatedOn"></label><br />*@
                    </h4>
                    <button type="button" onclick="closeModal1()" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="abc">
                        <b>Document Type:-</b>
                        <label id="documentClass"></label>, <b>Document Name:-</b>
                        <label id="documentName"></label>, <b>Document Version:-</b>
                        <label id="documentVersion"></label>, <b>Document Created By:-</b>
                        <label id="documentCreatedBy"></label>, <b>Document Created On:-</b>
                        <label id="documentCreatedOn"></label>
                    </div>
                    <div class="POPModalBodySize">

                        <div id="rw" class="row">
                            <div id="col5" class="col-md-1 fixedbarSize">
                                <button class="btn btn-info" id="tglbtn">
                                    <i id="fafatimes" title="Show Table" class="fa fa-bars" aria-hidden="true"></i>
                                </button><br />
                                <table class="table table-bordered table-sm searchableTable" style="width:100%" id="grdMetaDocDetails">
                                    <thead>
                                        <tr>
                                            <th style="width:111px">Key</th>
                                            <th style="width:143px">Value</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div id="col11" class="col-md-11">
                                <div id="results" class="hidden"></div>
                                @*<div id="pdf"></div>*@
                                <iframe src="img/preview.jpg" id="podDocImage1"  onload="hidescrollbar()" frameborder="0"  class="IFrameSize"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



   
    <div class="modal" id="UploadNewVersion" style="background-color:rgba(0,0,0,.5)">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Upload Document</h4>
                    @*<button type="button" class="btn btn-danger" data-dismiss="modal" onclick="closeModal()">X</button>*@
                    <span class="close1" onclick="closeModal1()" data-toggle="tooltip" title="Close">X</span>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <span class="control-fileupload">
                                <label id="fileInput">Click here to select the file :</label>
                                <input type="file" id="DocumentFile" onchange="UploadNewDocument(this)">
                                <input type="text" autocomplete="off" hidden="hidden" id="DocumentID">
                            </span>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

</div>


@Scripts.Render("~/Layout/uploadScreen")
@Styles.Render("~/Layout/datepickercss")
@Scripts.Render("~/bundles/datepickerjs")