/*Common Css Starts*/
html, body{
  overflow-x: hidden;
}

.navbar-brand img {
    width: 130px;
}
.navbar-light .navbar-nav .nav-link {
    color: #4c4c4c;
}
.designation span {
    display: block;
    font-size: 11px;
}
footer {
	background: #f1f1f1;
	
}
footer a {
	color: #212529;
}
.navbar {
    background-color: #d6d6d6 !important;
}
.company, .user-details {
  border-left: 1px solid #4c4c4c;
}
.wrapper {
  display: flex;
}
.wrapper .sidebar {
  flex: 1 0 225px;
  min-height: 100vh;
  background-color: #2c4285;
  transition: margin-left 0.3s;
  position: relative;
}
.wrapper .sidebar h1 {
  color: white;
  padding: 10px 15px;
  font-size: 18px;
  text-decoration: underline;
}
.company li:first-child {
    font-size: 18px;
    font-weight: bold;
}
.fa-tachometer {
    padding-right: 6px;
}
.wrapper .sidebar ul {
  padding: 0;
  list-style: none;
}
.wrapper .sidebar a {
  display: flex;
  padding: 15px;
  color: white;
  text-decoration: none;
  font-size: 16px;
}
.wrapper .sidebar a:hover {
  background: rgba(255, 255, 255, 0.4);
}
.wrapper .sidebar a.active, .wrapper .sidebar a.active:hover {
  background: rgba(255, 255, 255, 0.4);
}
.sidebar ul li .fa {
    padding-right: 6px;
    padding-top: 4px;
}
.wrapper .content {
  position: relative;
  flex: 1 1 100%;
  padding: 0px;
  background: linear-gradient(to right, #d6d6d6 0%, #ffffff 100%);
}

.wrapper .content h2 {
  color: #2c4285;
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
    font-size: 28px;
    text-decoration: underline;
}

.wrapper .toggle-sidebar {
  position: absolute;
  top: -6px;
  left: 85%;
  z-index: 9;
  color: white;
  padding: 0.375rem 0.75rem;
  background-color: transparent;
  border: 0;
  border-bottom-right-radius: 10px;
  outline: none;
  cursor: pointer;
  min-height: 30px;
  transition: 0.2s all ease;
}
.sidebar-close .toggle-sidebar {
  top: 0;
  left: 83%;
  background-color: #2c4285;
  min-height: 40px;
}
.sidebar-close .toggle-sidebar {
  left: 100%;
}
.wrapper .toggle-sidebar:hover {
  color: #dcdcdc;
}
.sidebar-close {
  margin-left: -230px;
}
.sidebar .toggle-sidebar .fa-bars  {
  display: none;
}
.sidebar.sidebar-close .toggle-sidebar .fa-bars {
  display: block;
}
.sidebar.sidebar-close .toggle-sidebar .fa-times {
  display: none;
}
/* Search Bar Starts Here*/

.checklist .search-input {
  position: relative;
  padding: 1rem 0 0.5rem 0;
  height: 4.5rem;
  width: 9.5rem;
  margin-left: 3rem;
}
.search-product .search-input {
  position: relative;
    padding: 1rem 0 0.5rem 0;
    height: 5rem;
    width: 100%;
}

.checklist .search-input input, .search-product .search-input input {
  border: none;
  border-bottom: 1px solid #fff;
  display: block;
  font-size: 1rem;
  line-height: 1rem;
  margin: 0;
  padding: 0.5rem 0;
  width: 100%;
  text-align: left;
  background-color: transparent;
  color: #fff;
  padding-left: 12px;
}
.search-product .search-input input {
    padding: 1rem 0 0.75rem 2rem;
    line-height: 0.8rem;
    font-size: 0.9rem
    
}
.search-product .search-input input {
  border: 2px solid #2c4285;
  color: #2c4285;
      border-radius: 4px;
}

.checklist .search-input input:focus, .search-product .search-input input:focus {
  outline: none;
}
.checklist .search-input label, .search-product .search-input label {
  position: absolute;
  left: 2rem;
  top: 1.75rem;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: normal;
  pointer-events: none;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.search-product .search-input label {
  color: #2c4285;
  top: 2.05rem;
}
.checklist .search-input input:focus ~ label, .search-product .search-input input:focus ~ label {
  top: 0;
  font-size: 0.75rem;
  color: #fff;
}
.search-product .search-input input:focus ~ label {
  top: 1rem;
}
.search-product .search-input input:focus ~ label {
  color: #2c4285;
}
.checklist .search-input label.not-empty {
  top: 0;
  font-size: 0.75rem;
}
.search-product .search-input label.not-empty {
  top: 1rem;
  font-size: 0.75rem;
}
.checklist .search-input span:nth-of-type(3), .search-product .search-input span:nth-of-type(1) {
  position: absolute;
  color: #fff;
  left: 100%;
  top: 1.625rem;
  font-size: 1rem;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.search-product .search-input span:nth-of-type(1) {
  color: #2c4285;
  left: 0.7rem;
  top: 1.8rem;
}
.checklist .search-input input:focus ~ span:nth-of-type(3) {
  left: -0.625rem;
  top: 1.625rem;
  color: #fff;
}
.search-product .search-input input:focus ~ span:nth-of-type(1) {
  color: #2c4285;
}
.checklist .search-input span:nth-of-type(3).not-empty {
  left: -0.625rem !important;
  top: 1.625rem !important;
}
.checklist .search-input span:nth-of-type(4), .search-product .search-input span:nth-of-type(4), .search-product .search-input span:nth-of-type(5) {
  position: absolute;
  color: #fff;
  right: 0;
  top: 1.625rem;
  font-size: 1rem;
  opacity: 0;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.search-product .search-input span:nth-of-type(5) {
    right: 0.7rem;
    opacity: 1;
    color: #2c4285;
    cursor: pointer;
    top: 1.6rem;
}
.search-product .search-input span:nth-of-type(4) {
  color: #2c4285;
  right: 2rem;
      top: 1.8rem;
}
.checklist .search-input input:focus ~ span:nth-of-type(4), .search-product .search-input input:focus ~ span:nth-of-type(4) {
  color: #fff;
  opacity: 1;
  cursor: pointer;
}
.search-product .search-input input:focus ~ span:nth-of-type(4) {
  color: #2c4285;
}
.checklist .search-input span:nth-of-type(4).not-empty, .search-product .search-input span:nth-of-type(4).not-empty {
  opacity: 1 !important;
}
.checklist .search-input .bar, .search-product .search-input .bar {
  display: block;
  width: 0;
  margin-left: 50%;
  height: 1px;
  background: #fff;
  opacity: 0;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.search-product .search-input .bar {
  background: #2c4285;
}
.checklist .search-input input:focus ~ .bar,.search-product .search-input input:focus ~ .bar {
  opacity: 0;
  width: 100%;
  margin-left: 0;
}

.search-wrapper {
    position: relative;
}
/* Search Bar Ends Here*/

@media screen and (max-width: 991px){
  .hide-on-mob-toggle{
    width: 0px;
    padding: 0px;
    visibility: hidden;
  }
  .wrapper {
    background: linear-gradient(to right, #d6d6d6 0%, #ffffff 100%);
  }
  .wrapper .sidebar {
    flex: 1 0 300px;
  }
  .sidebar-close {
    margin-left: -300px;
  }
  .final-btn {
      text-align: center;
  }
  .sec-footer p, .footer-copyright, .footer-copyright a {
    text-align: center !important;
  }
  .company {
      border-left: 0px solid #4c4c4c;
  }
  .company-icon {
    border-right: 0px solid #4c4c4c;
  }
  .company, .d-inline {
    padding-left: 0 !important;
  }
}
/*Common Css Ends*/

/* Form Starts*/

@media (max-width: 1199px) {
    .form-container {
        position: relative;
        width: 100%;
        top: 0;
        right: 0;
        padding-bottom: 25%;    
}
}
.group {
  position: relative;
  margin-bottom: 25px;
}
.group input {
  background: white;
  font-size: 14px;
  display: block;
  width: 100%;
  border: 1px solid #ced4da;
    background-size: 8px 10px;
    height: calc(2.25rem + 2px);
    vertical-align: middle;
    padding: .375rem 1.75rem .375rem .75rem;
    border-radius: 0.25rem;
}
#query1 {
    position: absolute;
    z-index: 9;
    background: linear-gradient(to right, #848484 0%, #cecece 100%);
    width: 100%;
    top: 4.4rem;
    left: 0;
    padding: 0px 30px;
    height: 300px;
    border-radius: 4px;
}
#query1 .form-container .group input {
  border-bottom: 1px solid #fff;
  color: white;
}
.group input:focus {
  outline: none;
}
.group label {
      color: #495057;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 13px;
    top: 7px;
    transition: 0.2s ease all;
    vertical-align: middle;
}
#query1 .form-container .group label {
  color: #fff;
}
.group input:focus ~ label, .group input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #2c4285;
}
#query1 .form-container .group input:focus ~ label, #query1 .form-container .group input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #fff;
}
.group .bar {
  position: relative;
  display: block;
  width: 50%;
  opacity: 0;
}
.group .bar:before, .group .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #2c4285;
  transition: 0.2s ease all;
}
#query1 .form-container .group .bar:before, #query1 .form-container .group .bar:after {
  background: #fff;
}
.group .bar:before {
  left: 100%;
}
.group .bar:after {
  right: 0%;
}
.group input:focus ~ .bar:before, .group input:focus ~ .bar:after {
  width: 100%;
}
.group .highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}
.group input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
}
@keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}

.clearfix {
  clear: both;
}
input[type="date"]:in-range::-webkit-datetime-edit-year-field, input[type="date"]:in-range::-webkit-datetime-edit-month-field, input[type="date"]:in-range::-webkit-datetime-edit-day-field, input[type="date"]:in-range::-webkit-datetime-edit-text { 
  color: transparent; 
}
/* Form Ends */

.visible {
  display: block !important;
}
.query-btn {
    text-align: right;
}
.preview-screen i {
    background: #2c4285;
    color: white;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    font-size: 18px;
    min-width: 30px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 5px;
}
.main-heading span {
    color: #2c4285;
    font-weight: bold;
    font-size: 22px;
    text-decoration: underline;
}
.userData h3 {
    text-align: center;
    padding-top: 10px;
    color: #2c4285;
    font-weight: bold;
    font-size: 22px;
    text-decoration: underline;
    padding: 20px 0;
}
.content > .container {
    margin-top: 15px;
}


.control-fileupload {
    display: block;
    border: 1px solid #ced4da;
    background: #FFF;
    border-radius: 0.25rem;
    width: 100%;
    line-height: 1.5rem;
    padding: 0px 10px 2px 10px;
    overflow: hidden;
    position: relative;
    color: #495057;
    background-size: 8px 10px;
    height: calc(2.25rem + 2px);
    vertical-align: middle;
    padding: .375rem 1.75rem .375rem .75rem;

}
.result {
    text-align: right;
    margin-top: 20px;
}
.control-fileupload:before,
.control-fileupload input,
.control-fileupload label {
  cursor: pointer !important;
}
.control-fileupload:before {
  /* inherit from boostrap btn styles */

  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  color: #333333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  transition: color 0.2s ease;
  /* add more custom styles*/

  content: 'Browse';
  display: block;
  position: absolute;
  z-index: 1;
  top: 2px;
  right: 2px;
  line-height: 20px;
  text-align: center;
}
.control-fileupload:hover:before,
.control-fileupload:focus:before {
  background-color: #e6e6e6;
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  transition: background-position 0.2s ease-out;
}
.control-fileupload label {
  line-height: 24px;
    color: #495057;
    font-size: 16px;
    font-weight: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    z-index: 1;
    margin-right: 90px;
    margin-bottom: 0px;
    cursor: text;
}
input[type=file] {
  display: block !important;
  right: 1px;
  top: 1px;
  height: 34px;
  opacity: 0;
  width: 100%;
  background: none;
  position: absolute;
  overflow: hidden;
  z-index: 2;
}

.preview img {
    min-height: 560px;
    max-height: 560px;
}
.preview-screen {
    position: absolute;
    left: -0.8rem;
    display: grid;
}