﻿
@{
    ViewBag.Title = "UserMaster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/Layout/UserMasterJS")
@Styles.Render("~/Layout/UserMaster")
<div class="content">
<div class="container">
    <div class="userMaster">
        <p class="main-heading">
            <span>Manage Users:</span> Search and browse existing user. Click on "create new user" button for adding new user in the system .
        </p>
        @*<div class="row">
            <div class="col-md-10">
                <p class="main-heading">
                    <span>Manage Users:</span> Search and browse existing user. Click on "create new user" button for adding new user in the system .
                </p>
            </div>
            <div class="col-md-2">
                <a class="btn" onclick="newUser()" style="margin-top: 4px; float: right;">Create New User</a>
            </div>
        </div>*@
            
            <div class="searchInput">
                @*<div class="col-md-11">*@
                <div class="search-wrapper">
                    <div class="search-product" id="search-product">
                        <div class="search_main">
                            <div class="search-input">
                                <span><i class="fa fa-search" aria-hidden="true"></i></span>
                                <input type="search" id="searchKeyword">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Search User</label>
                                <span><i class="fa fa-times" onclick="ResetSearchkeyword()" aria-hidden="true" data-toggle="tooltip" title="Close"></i></span>
                                <span onclick="OpenSearchTab()" class="dropdown-form"><i class="fa fa-sort-desc" aria-hidden="true" data-toggle="tooltip" title="Advance Search"></i></span>
                            </div>
                        </div>
                    </div>
                    <div id="query1" class="query1">
                        <div class="form-container">
                            <form autocomplete="off">
                                <div class="row pt-4">
                                    <div class="col-md-6">
                                        <div class="group">
                                                <input id="user_Name" type="text" autocomplete="off" required>
                                                <span class="highlight"></span>
                                                <span class="bar"></span>
                                                <label>User Name<span class="asterisk"></span></label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="group">
                                                <input id="contactNum" type="text" maxlength="10" autocomplete="off" required>
                                                <span class="highlight"></span>
                                                <span class="bar"></span>
                                                <label>Contact Number<span class="asterisk"></span></label>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="result">
                                <a href="#" class="btn btn-warning" id="btnCheckListSearchReset" onclick="reSet(1)">Reset</a>
                                <a href="#" class="btn btn-success" id="btnCheckListSearch" onclick="searchUserMasterTab(this.value)">Search</a>
                                
                            </div>

                    </div>
                </div>
                @*</div>
            <div class="col-md-1">
                <div class="result">
                        
                </div>
                </div>*@
            </div>
        <table class="searchTable" width="100%" id="grdSrchUser">
            <thead>
                <tr>
                   <th hidden="hidden">User Id</th>
                    <th>User Name</th>
                    <th>Contact No.</th>
                    <th>E-Mail</th>
                    <th>Status</th>

                </tr>
            </thead>
        </table>
    </div>
    
    <div class="user">
            <p class="main-heading"><span>Edit User: </span>Fill in values for new users and click on Save to store the user. Optionally select/deselect the roles for the user<span class="close1" onclick="cross()" data-toggle="tooltip" title="Close">X</span></p>
        <div class="form-container" style="margin-top: 30px;">
            <form>
                <div class="row">
                    <div class="col-md-6">
                        <div class="group">
                                <input id="userName" type="text" autocomplete="off" required>
                            <input id="hdnUserID" hidden="hidden">
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>User Name<span class="asterisk">*</span></label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="group">
                            <input id="email" type="email" required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                                <label>LogIn ID<span class="asterisk">*</span></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="group">
                                <input id="contactNo" type="text" maxlength="10" autocomplete="off" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Contact Number<span class="asterisk">*</span></label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="group">
                                <select name="status" id="status" class="custom-select">
                                    <option value="" selected disabled>Status*</option>
                                    <option value="1">Active</option>
                                    <option value="0">Inactive</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="group">
                                <input id="password" type="password" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Password<span class="asterisk">*</span></label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="group">
                                <input id="repassword" type="password" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Re-Type Password<span class="asterisk">*</span></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="group">
                                <select name="viewerDept" id="cboUserDepartment" class="custom-select mb-3">
                                    <option value="0" selected disabled>Select Department</option>

                            </select>
                        </div>
                        </div>
                        <div class="col-md-6">
                            @*<input id="checkbox"  type="checkbox" name="type" value="">All
                            <input id="checkbox"  type="checkbox" name="type" value="0">Unsigned
                            <input id="checkbox"  type="checkbox" name="type" value="1">Signed*@



                            <input type="radio" id="All" name="role" checked="checked" value="-1"> All Roles
                            <input type="radio" id="Singed" name="role" value="1"> Assigned Roles
                            <input type="radio" id="Unsigned" name="role" value="0"> Unassigned Roles

                            @*<div class="group">
                                <select name="Roles" id="cboRoles" class="custom-select">
                                    <option value="" selected>All</option>
                                    <option value="1">Signed</option>
                                    <option value="0">Unsigned</option>
                                </select>
                            </div>*@
                    </div>

                </div>
            </form>
        </div>
        <div class="user-roles">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#Roles">Roles</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="roles" class="tab-pane active">
                    <table class="roleTable" width="100%" id="userRolesTableBody"></table>
                </div>
            </div>
            <div class="result">
                    <a href="#" class="btn btn-success" id="btnreset" onclick="reset(1)">Reset</a>
                <a href="#" class="btn btn-success" id="saveUserMasterData" onclick="saveUserMasterData()">Save</a>
                    
                </div>
            </div>
        </div>
    </div>
    </div>
    @*<ul class="nav nav-tabs" id="CaseTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#Search" role="tab" aria-controls="home" aria-selected="true">Search</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#UserCreateUpdateTab" role="tab" aria-controls="caseCreate" aria-selected="true">User</a>
        </li>
    </ul>
    
    <div class="tab-content">
        <input id="hdnUserID" type="hidden"/>
        <div id="Search" class="page-body tab-pane active">
            <div class="search-user">
                <h3>Search User</h3>
                <div class="form-container">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="group">
                                    <input id="user_Name" type="text"  autocomplete="off"      required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>User Name*</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="group">
                                    <input id="contactNum" type="text"  autocomplete="off"      required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Contact Number*</label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="result">
                    <a href="#" class="btn btn-success" id="btnCheckListSearch" onclick="searchUserMasterTab(this.value)">Search</a>
                    <a href="#" class="btn btn-warning" id="btnCheckListSearchReset" onclick="reSet()">Reset</a>
                </div>
                <table class="searchTable" width="100%" id="grdSrchUser"></table>
            </div>
        </div>
        <div id="UserCreateUpdateTab" class="page-body tab-pane fade">
            <div class="user">
                <h3>User</h3>
                <div class="form-container">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="group">
                                    <input id="userName" type="text"  autocomplete="off"      required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>User Name*</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="group">
                                    <input id="email" type="email" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>E-Mail*</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="group">
                                    <input id="contactNo" type="text"  autocomplete="off"      required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Contact Number*</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="group">
                                    <select name="status" id="status" class="custom-select mb-3">
                                        <option value="" selected disabled>Status*</option>
                                        <option value="open">Active</option>
                                        <option value="close">Inactive</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="group">
                                    <input id="password" type="password" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Password*</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="group">
                                    <input id="repassword" type="password" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Re-Type Password*</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="group">
                                    <select name="viewerDept" id="cboUserDepartment" class="custom-select mb-3">
                                        <option value="0" selected disabled>Select Department</option>
                                       
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="user-roles">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#Roles">Roles</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="roles" class="tab-pane active">
                        <table  width="100%" id="userRolesTableBody"></table>
                    </div>
                </div>
                <div class="result">
                    <a href="#" class="btn btn-success" id="saveUserMasterData" onclick="saveUserMasterData()">Save</a>
                    <a href="#" class="btn btn-warning" id="btnreset" onclick="reset()">Reset</a>
                </div>
            </div>
        </div>
    </div>*@


