
.preview-screen i {
    background: #2c4285;
    color: white;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    font-size: 18px;
    min-width: 30px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 5px;
}
.userTable {
    margin-bottom: 15px !important;
}
.visible {
  display: block !important;
}
.int {
    background: #2c4285 !important;
    color: white !important;
}
.main-heading span {
    color: #2c4285;
    font-weight: bold;
    font-size: 22px;
    text-decoration: underline;
}
.query-btn {
    text-align: right;
}
.userTable thead {
    background: #2c4285;
    color: white;
}
.userData h3 {
    padding-top: 10px;
    color: #2c4285;
    font-weight: bold;
    font-size: 22px;
    text-decoration: underline;
    padding: 20px 0;
}
/*.content > .container {
    margin-top: 15px;
}*/
.userTable{
    border: 2px solid #2c4285;
}
.userTable td, .userTable th {
    border-top: 0px solid #dee2e6;
    border-right: 1px solid #2c4285;
    border-bottom: 1px solid #2c4285;
}
.userTable thead th {
    border-bottom: 0px solid #2c4285;
    border-right: 1px solid #fff !important;
}
  .userTable thead th:last-child {		
   border-right: 0px solid #fff !important;		
}
.preview img {
    min-height: 560px;
    max-height: 560px;
}
.userData {
    margin-top: 15px;
}
.preview-screen {
    position: absolute;
    left: -0.8rem;
    display: grid;
}
#previevpodDocImage {
    margin: 40px 10px;
}


i.fa.fa-pencil.EditDoc{
    cursor:pointer;
}

i[title="Do not have an access."]{   
    cursor: not-allowed; 
}

/*.fixedbarSize{
    margin-right: -66px;
}*/


/*Sidebar in pop up*/



/*.navbar-brand img {
	width: 130px;
}
.navbar-light .navbar-nav .nav-link {
	color: #4c4c4c;
}
.designation span {
	display: block;
	font-size: 11px;
}

.navbar {
	background-color: #d6d6d6 !important;
}



.wrapper1 {
 display: flex;

}
.wrapper1 .sidebarpopUp {
  flex: 1 0 225px;
  min-height: 100vh;
  background-color: #2c4285;
  transition: margin-left 0.3s;
  position: relative;
}
.wrapper1 .sidebarpopUp h1 {
  color: white;
  padding: 10px 15px;
  font-size: 18px;
  text-decoration: underline;
}
.company li:first-child {
	font-size: 18px;
	font-weight: bold;
}
.fa-tachometer {
	padding-right: 6px;
}
.wrapper1 .sidebarpopUp ul {
  padding: 0;
  list-style: none;
}
.wrapper1 .sidebarpopUp a  {
  display: flex;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 16px;
}
.wrapper1 .sidebarpopUp a:hover {
  background: rgba(255, 255, 255, 0.4);
}
.wrapper1 .sidebarpopUp a:hover, .wrapper1 .sidebarpopUp a:hover {
  background: rgba(255, 255, 255, 0.4);
}
.wrapper1 .sidebarpopUp a.active, .wrapper1 .sidebarpopUp a.active:hover {
  background: rgba(255, 255, 255, 0.4);
}
.sidebarpopUp ul li .fa {
	padding-right: 6px;
	padding-top: 4px;
}
/*.wrapper1 .content {
  position: relative;
  flex: 1 1 100%;
  padding: 0px;
  background: linear-gradient(to right, #d6d6d6 0%, #ffffff 100%);
}

.wrapper .content h2 {
  color: #2c4285;
	text-align: center;
	padding-top: 10px;
	font-weight: bold;
	font-size: 28px;
	text-decoration: underline;
}*/

.wrapper1 .toggle-sidebarpopUp {
  position: absolute;
  top: -6px;
  left: 85%;
  z-index: 9;
  color: white;
  padding: 0.375rem 0.75rem;
  background-color: transparent;
  border: 0;
  border-bottom-right-radius: 10px;
  outline: none;
  cursor: pointer;
  min-height: 30px;
  transition: 0.2s all ease;
}
.sidebarpopUp-close .toggle-sidebarpopUp {
  top: 0;
  left: 83%;
  background-color: #2c4285;
  min-height: 40px;
}

.sidebarpopUp-close .toggle-sidebarpopUp {
  left: 100%;
}
/*.sidebar-close1 .toggle-sidebar1 {
  right: 100%;
}*/
.wrapper1 .toggle-sidebarpopUp:hover {
  color: #dcdcdc;
}
.sidebarpopUp-close {
  margin-left: -230px;
}

.sidebarpopUp .toggle-sidebarpopUp .fa-bars  {
  display: none;
}
.sidebarpopUp.sidebar-close .toggle-sidebarpopUp .fa-bars {
  display: block;
}
.sidebarpopUp.sidebar-close .toggle-sidebarpopUp .fa-angle-left {
  display: none;
}

/*.POPdivSize{
     width:100%;
     height: 100%;
}

.POPModalBodySize{
     height:620px;
}*/

.IFrameSize{
    width:1000px;
     height:360px;
      /*height:380px;*/
      border-bottom: 6px solid rgb(82, 86, 89);
}

.BarIframeSize
{
     width:100%;
      height:455px;
          border-bottom: 6px solid rgb(82, 86, 89);
}


#myModal .modal-dialog {
        width: 1200px;
    max-width: 1200px;
}

#myModal .modal-body {
    height: auto !important;
    overflow-y: hidden !important;
}
#grdMetaDocDetails {
    background: white;
    width: 350px !important;
}
#col5 {
    z-index: 9;
}
#grdMetaDocDetails tr th:nth-child(1) {
  width: 50% !important;
}
#grdMetaDocDetails tr th:nth-child(2) {
  width: 50% !important;
}
.searchableTable tr th:nth-child(1) {
width: 33% !important;
}
.searchableTable tr th:nth-child(2) {
width: 21% !important;
}
.searchableTable tr th:nth-child(3) {
width: 15% !important;
}
.searchableTable tr th:nth-child(4) {
width: 15% !important;
}
.searchableTable tr th:nth-child(5) {
width: 9% !important;
}
.searchableTable tr th:nth-child(6) {
width: 7% !important;
}