﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Layout//ChartDashBoardCss")



<div class="content">
<div class="container">
    <p class="main-heading">
        <span>Usage Dashboard:</span> Dashboard shows accessed, uploaded and total documents.
    </p>
    <div class="tab-content">
        <div id="ChartView" class="page-body tab-pane active">
            <div class="row mt-4 mb-4">
                <div class="col-md-12">
                    <div id="scndChart"></div>
                </div>

                @*<div class="col-md-3" style="margin-top:5rem;">*@
                    @*<img src="~/img/piechart.png" class="img-fluid" /> this will not visibile*@  
                    @*<div id="pie_chart_container" class="img-fluid"></div>*@
                @*</div>*@
            </div>

            <div class="row mt-4 mb-4">
                <div class="col-md-6">
                    <div id="frstChart"></div>
                </div>
                <div class="col-md-6">
                    @*<img src="~/img/piechart1.png" class="img-fluid" />*@
                    <div id="container"></div>
                </div>
            </div>


        </div>



        <div id="DetailView" class="page-body tab-pane ">
            <br />
            <div id="docClassSearchtable_wrapper" class="dataTables_wrapper no-footer">
                <div class="dataTables_length" id="docClassSearchtable_length">
                    <label>
                        Show <select name="docClassSearchtable_length" aria-controls="docClassSearchtable" class="">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select> entries
                    </label>
                </div>
                <div id="docClassSearchtable_filter" class="dataTables_filter">
                    <label>Search:<input type="search" class="" placeholder="" aria-controls="docClassSearchtable"></label>
                </div>
                <table id="docClassSearchtable" class="panadoxTable dataTable no-footer" width="100%" role="grid" aria-describedby="docClassSearchtable_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th class="sorting_asc" tabindex="0" aria-controls="docClassSearchtable" rowspan="1" colspan="1" style="width: 368.01px;" aria-sort="ascending" aria-label="ID: activate to sort column descending">ID</th>
                            <th class="sorting" tabindex="0" aria-controls="docClassSearchtable" rowspan="1" colspan="1" style="width: 202.01px;" aria-label="Doc ID: activate to sort column ascending">Doc ID</th>
                            <th class="sorting" tabindex="0" aria-controls="docClassSearchtable" rowspan="1" colspan="1" style="width: 146.01px;" aria-label="Doc Class Name: activate to sort column ascending">Doc Class Name</th>
                            <th class="sorting" tabindex="0" aria-controls="docClassSearchtable" rowspan="1" colspan="1" style="width: 146.01px;" aria-label="Created By: activate to sort column ascending">Created By</th>
                            <th class="sorting" tabindex="0" aria-controls="docClassSearchtable" rowspan="1" colspan="1" style="width: 146px;" aria-label="Created On: activate to sort column ascending">Created On</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd">
                            <td valign="top" colspan="5" class="dataTables_empty">No data available in table</td>
                        </tr>
                    </tbody>
                </table>
                <div class="dataTables_info" id="docClassSearchtable_info" role="status" aria-live="polite">Showing 0 to 0 of 0 entries</div>
                <div class="dataTables_paginate paging_simple_numbers" id="docClassSearchtable_paginate">
                    <a class="paginate_button previous disabled" aria-controls="docClassSearchtable" data-dt-idx="0" tabindex="0" id="docClassSearchtable_previous">Previous</a>
                    <span>
                    </span>
                    <a class="paginate_button next disabled" aria-controls="docClassSearchtable" data-dt-idx="1" tabindex="0" id="docClassSearchtable_next">Next</a>
                </div>
            </div>

        </div>

    </div>


 <!-- The Modal -->
<div class="modal" id="ShowUploadedDocument">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h6 class="modal-title">Document Access Report-<label id="lblSchDate"></label></h6>,&nbsp;&nbsp;
                <h6 class="modal-title">Access Count-<label id="lblAcessCount"></label></h6>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="mt-1">
                <div class="">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <div class="col-md-12">
                                <table class="table table-bordered table-hover table-striped" style="width:100%" id="ShowUploadDocument">
                                    <thead>
                                        <tr role="row">
                                            <th hidden="hidden">DocumentID</th>
                                            <th hidden="hidden">AuditID</th>
                                            <th width="15%">Document Title</th>
                                            <th width="10%">Document Type</th>
                                            <th width="25%">Accessed By</th>
                                            <th width="10%">Accessed On</th>
                                            <th width="25%">Action Name</th>
                                            <th width="15%">Action Type</th>


                                        </tr>
                                    </thead>
                                </table>
                                @*@Styles.Render("~/Content/dataTable")*@
                            </div>
                            <script>
                            /* InitiateSearchableDataTable.init();*/
                                $("#ShowWorkOrderLoadnoDataTable").DataTable({ "odering": true, "bFilter": false, "paging": false });
                            </script>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>


<!-- The Modal -->
<div class="modal" id="ShowDocumentClassDocument">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h6 class="modal-title">Uploaded Document Report-<label id="lbluploadedDoc"></label></h6>,&nbsp;&nbsp;
                <h6 class="modal-title">Upload Count-<label id="lblUploadCount"></label></h6>

                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="mt-1">
                <div class="">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <div class="col-md-12">
                                <table class="table table-bordered table-hover table-striped" style="width:100%" id="ShowDocumentClass">
                                    <thead>
                                        <tr role="row">
                                            <th hidden="hidden">DocumentID</th>                                           
                                            <th width="20%">Document Title</th>
                                            <th width="20%">Document Type</th>
                                            <th width="20%">Created By</th>
                                            <th width="20%">Created On</th>
                                            <th width="20%">Document Status</th>
                                            <th width="20%">Document Version</th>

                                        </tr>
                                    </thead>
                                </table>
                                @*@Styles.Render("~/Content/dataTable")*@
                            </div>
                            <script>
                            /* InitiateSearchableDataTable.init();*/
                                $("#ShowWorkOrderLoadnoDataTable").DataTable({ "odering": true, "bFilter": false, "paging": false });
                            </script>
                        </div>
                    </div>
                </div>
            </div>


            </div>
        </div>
    </div>

</div>

 

    </div>
       

 @Scripts.Render("~/Layout/ChartDashboardJS")
@Scripts.Render("~/Layout/highchartsJS")
@Scripts.Render("~/Layout/highcharts_exportingJS")

@*<script src="https://code.highcharts.com/modules/drilldown.js"></script>*@